{# @title, @author, @date #}
<ul class="ca_post_header">
  <li class="ca_post_title">{{ @title }}</li>
  <li class="ca_post_signature">{{ @date }}</li>
  <li class="ca_post_subtitle"></li>
  <li class="ca_post_signature">{{ @author }}</li>
</ul>
