---js
{
  pagination:
  {
    data: 'collections.menu',
    size: 16,  // {{ settings.listItemsCapacity }}
    alias: 'menu',
  },
}
---
{% extends "base.njk" %}

{% block content %}{% include "menu/_list_.njk" %}{% endblock %}
