<ul class="ca_list_imgs">
  {% for atmedia in media %}
    <li class="ca_list_imgs_issmall" onclick="this.classList.toggle('ca_list_imgs_islarge')">
      <img class="ca_list_imgs_img" src="{{ @SITE_URL }}{{ settings.distDirs.images }}{{ atmedia.src }}"/>
      <ul class="ca_list_imgs_legend">
        <li class="ca_list_imgs_legend_title">{{ atmedia.title }}</li>
        <li class="ca_list_items_legend_abstract">{{ atmedia.abstract }}</li>
      </ul>
    </li>
  {% endfor %}
</ul>
