<div id="ca_home_back">
  <div id="ca_home_back_top"    class="ca_home_back_side"></div>
  <div id="ca_home_back_bottom" class="ca_home_back_side"></div>
  <div id="ca_home_back_right"  class="ca_home_back_side"></div>
</div>

<svg id="ca_home_prim" width="80.9%" height="61.8%">
  <defs>
    <linearGradient id="ca_home_gradient" gradientTransform="rotate(75)">
      <stop offset="15%" stop-color="hsla(220, 92%, 30%, 0.8)" />
      <stop offset="80%" stop-color="hsla(240, 52%, 60%, 0.9)" />
    </linearGradient>
    <mask id="ca_home_mask">
      <rect width="100%" height="100%" fill="#fff" />
      <g class="ca_home_logo_text">
        <text class="ca_home_logo_text_light">chercheur d</text>
        <text class="ca_home_logo_text_heavy">.art</text>
      </g>
    </mask>
  </defs>
  <filter id="ca_home_prim_filter" color-interpolation-filters="sRGB">
    <feColorMatrix id="ca_home_prim_filter_matrix"
      type="matrix" values="0 0 0.4 0 0   0 0 1.2 0 0  0 0 1.5 0 0  0 0 0 1 0">
    </feColorMatrix>
  </filter>
  <rect width="100%" height="100%" fill="url(#ca_home_gradient)" fill-opacity="0.65" mask="url(#ca_home_mask)" />
</svg>

<div id="ca_home_layers">
    <a href="{{ @SITE_URL}}index.html" class="nodeco">
  <div id="ca_404_layer" class="ca_404_layer">
      <dl class="ca_404_card">
        <dt class="ca_404_title">Quelle erreur!!!</dt>
        <dd class="ca_404_abstract">Une erreur d'adressage (code 404) s'est produite.<br/>
        Le lien que vous avez suivi ou l'adresse que vous cherchez n'aboutit nulle part.<br>
        Il est sans doute préférable de retourner à la page d'Accueil ou au Menu du site.
        </dd>
      </dl>
  </div>
    </a>
</div>


