<div class="ca_list_imgs">
    {% set collector = collectors[ id ] %}
    {% for atw in collector.worksId %}
      {% set work = works[ atw ] %}
      {% set artist = artists[ work.artist ] %}
      {% for src in work.sources %}
        {% set @srcType = work.srcType %}
        {% include "partials/_work_img_legend_.njk" %}
      {% endfor %}
    {% endfor %}
</ul>
