---js
{
pagination: {
    data: 'collections.collector',
    size: 8,
    alias: 'collectors',
  },
permalink: 'collectors/list_{{ pagination.pageNumber }}.html'
}
---
{% extends "base.njk" %}

{% block content %}
{% set @items = collectors %}
{% set @foldTitle = 'Répertoire des collections' %}
{% include "partials/_list_.njk" %}
{% endblock %}
