<dialog id="ca_dialog_is_confirm" class="ca_dialog">
  <div id="ca_dialog_close_is_confirm" class="ca_dialog_close">
    {% include "static/icons/dialog_close.svg" %}
  </div>
  <dl class="ca_dialog_area">
    <dt id="ca_dialog_header_is_confirm"  class="ca_dialog_header">fichier image</dt>
    <dd id="ca_dialog_content_is_confirm" class="ca_dialog_content">
      {#% include "partials/_confirm_.njk" %#}
    </dd>
  </dl>
  <ul id="ca_dialog_options_is_confirm" class="ca_dialog_option_list">
    <li id="ca_dialog_option_1_is_confirm" class="ca_dialog_option">renonce</li>
    <li id="ca_dialog_option_0_is_confirm" class="ca_dialog_option">confirme</li>
  </ul>
</dialog>

<dialog id="ca_dialog_is_note" class="ca_dialog">
  <div id="ca_dialog_close_is_note" class="ca_dialog_close">
    {% include "static/icons/dialog_close.svg" %}
  </div>
  <dl class="ca_dialog_area">
    <dt id="ca_dialog_header_is_note"  class="ca_dialog_header">_dialog_</dt>
    <dd id="ca_dialog_content_is_note" class="ca_dialog_content">_content_</dd>
  </dl>
  <!-- KEEP FOR TEMPLATE
  <ul id="ca_dialog_options_is_note" class="ca_dialog_option_list">
    <li id="ca_dialog_option_0_is_note" class="ca_dialog_option">option_0</li>
    <li id="ca_dialog_option_1_is_note" class="ca_dialog_option">option_1</li>
    <li id="ca_dialog_option_2_is_note" class="ca_dialog_option">option_2</li>
  </ul>
  -->
</dialog>

<dialog id="ca_dialog_is_status" class="ca_dialog">
  <div id="ca_dialog_close_is_status" class="ca_dialog_close">
    {% include "static/icons/dialog_close.svg" %}
  </div>
  <dl class="ca_dialog_area"><!-- id="ca_status_dialog_area"-->
    <dt id="ca_dialog_header_is_status"  class="ca_dialog_header">status</dt>
    <dd id="ca_dialog_content_is_status" class="ca_dialog_content">
      {% include "partials/_status_item_.njk" %}
    </dd>
  </dl>
</dialog>

<dialog id="ca_dialog_is_search" class="ca_dialog">
  <div id="ca_dialog_close_is_search" class="ca_dialog_close">
    {% include "static/icons/dialog_close.svg" %}
  </div>
  <dl class="ca_dialog_area">
    <dt id="ca_dialog_header_is_search"  class="ca_dialog_header">Champ de recherche</dt>
    <dd id="ca_dialog_content_is_search" class="ca_dialog_content">
      {% include "partials/_search_tags_.njk" %}
    </dd>
  </dl>
</dialog>

<dialog id="ca_dialog_is_user_file" class="ca_dialog">
  <div id="ca_dialog_close_is_user_file" class="ca_dialog_close">
    {% include "static/icons/dialog_close.svg" %}
  </div>
  <dl class="ca_dialog_area">
    <dt id="ca_dialog_header_is_user_file"  class="ca_dialog_header">fichier image</dt>
    <dd id="ca_dialog_content_is_user_file" class="ca_dialog_content">
      {% include "partials/_user_file_.njk" %}
    </dd>
  </dl>
  <ul id="ca_dialog_options_is_user_file" class="ca_dialog_option_list">
    <li id="ca_dialog_option_1_is_user_file" class="ca_dialog_option">Abandonner</li>
    <li id="ca_dialog_option_0_is_user_file" class="ca_dialog_option">Analyser</li>
  </ul>
</dialog>

<dialog id="ca_dialog_is_user_file_modify" class="ca_dialog">
  <div id="ca_dialog_close_is_user_file_modify" class="ca_dialog_close">
    {% include "static/icons/dialog_close.svg" %}
  </div>
  <dl class="ca_dialog_area">
    <dt id="ca_dialog_header_is_user_file_modify"  class="ca_dialog_header">fichier image</dt>
    <dd id="ca_dialog_content_is_user_file_modify" class="ca_dialog_content">
      {% include "partials/_user_file_update_.njk" %}
    </dd>
  </dl>
  <ul id="ca_dialog_options_is_user_file_modify" class="ca_dialog_option_list">
    <li id="ca_dialog_option_1_is_user_file_modify" class="ca_dialog_option">Abandonner</li>
    <li id="ca_dialog_option_0_is_user_file_modify" class="ca_dialog_option">Modifier</li>
  </ul>
</dialog>
