<style id="ca_fonts_latin">
{% set fonts %}
/* ==== Antic ==== */
@font-face
{
  font-display:swap;
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic Regular'), local('Antic-Regular'), url({{ @SITE_URL }}static/fonts/antic-v10-latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==== Philosopher ==== */
@font-face
{
  font-display:swap;
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url({{ @SITE_URL }}static/fonts/Philosopher-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==== Titillium *==== */
@font-face
{
  font-display:swap;
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url({{ @SITE_URL }}static/fonts/titillium-web-v7-latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==== RenoMono *==== */
@font-face
{
  font-display:swap;
  font-family: 'RenoMono';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: local('RenoMono-Regular'), local('RenoMono-Regular'), url({{ @SITE_URL }}static/fonts/RenoMono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==== Josefin slab *==== */
@font-face
{
  font-display:swap;
  font-family: 'RenoMono';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url({{ @SITE_URL }}static/fonts/josefin-slab-v9-latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
{% endset %}
{{ fonts | cssmin | safe }}
</style>
