{# @inimgDir, @active, @checked (optional) #}

<section id="ca_area_section_search" class="ca_area_region">
  <input id="ca_select_area_search" class="ca_area_switcher" value="ca_select_area_search" name="area" type="radio">
  <div id="ca_area_search" class="ca_area_search ca_area{{@active}}">
    <label for="ca_area_search" class="ca_area_selector" onclick="AreaSwitch( this.getAttribute( 'for') )">
      {% include "static/icons/menu.svg" %}
    </label>
  
    <ul class="ca_duo_banner_header">
      <li class="ca_banner_title_duo">Recherche</li>
      <li class="ca_post_subtitle">
      {% include "partials/_search_form_.njk" %}
      </li>
    </ul>
  
    <div class="ca_fold_content">
      <h3 class="ca_folder" onclick="DOMOpenFolder( this )">Résultat</h3>
      <div class="ca_fold_content_item ca_is_open"><!-- ca_is_open !!! -->
        <div class="ca_fold_xcols_norule">
          <div id="ca_search_list" class="ca_url_entries_list"></div><!-- SEARCH RESULT -->
        </div>
      </div>
    </div>
  
  </div>
</section>
