{# @ata #}
{# LEVEL_3 #}
<div id="ca_{{@ata}}_color_selector" class="ca_color_selector">
  <div id="ca_{{@ata}}_selector_pad"    class="ca_color_selector_pad">
    <div                                 id="ca_color_selector_trace" class="ca_{{@ata}}_pad_label ca_color_selector_trace"></div>
    <label for="ca_{{@ata}}_split_input" id="ca_{{@ata}}_split_label" class="ca_{{@ata}}_pad_label" value="0" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Comparaison</label>
    <label for="ca_{{@ata}}_pick_input"  id="ca_{{@ata}}_pick_label"  class="ca_{{@ata}}_pad_label" value="0" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Échantillon</label>
    <label for="ca_{{@ata}}_hue_input"   id="ca_{{@ata}}_hue_label"   class="ca_{{@ata}}_pad_label" value="1" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Couleur</label>
    <label for="ca_{{@ata}}_lum_input"   id="ca_{{@ata}}_lum_label"   class="ca_{{@ata}}_pad_label" value="0" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Lumière</label>
    <label for="ca_{{@ata}}_tone_input"  id="ca_{{@ata}}_tone_label"  class="ca_{{@ata}}_pad_label" value="0" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Filtre-C</label>
    <label for="ca_{{@ata}}_gray_input"  id="ca_{{@ata}}_gray_label"  class="ca_{{@ata}}_pad_label" value="0" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Filtre-G</label>
    <label for="ca_{{@ata}}_eq_input"    id="ca_{{@ata}}_eq_label"    class="ca_{{@ata}}_pad_label" value="0" onclick="M3_consolePadInput( this.getAttribute( 'for'), this )">Égalisation</label>
  </div>
  <div id="ca_{{@ata}}_selector_console" class="ca_color_console_trace" data-trace="100">
    <div id="ca_{{@ata}}_selector_lum_console" class="ca_color_selector_console"></div>
    <div id="ca_{{@ata}}_selector_hue_console" class="ca_color_selector_console ca_color_selector_console_active"></div>
  </div>
</div>
<div id="ca_{{@ata}}_selector_pad_input" class="ca_{{@ata}}_pad_input">
  <input id="ca_{{@ata}}_split_input" class="ca_{{@ata}}_pad_input_check"  type="checkbox" value="0">
  <input id="ca_{{@ata}}_pick_input"  class="ca_{{@ata}}_pad_input_check"  type="checkbox" value="0">
  <input id="ca_{{@ata}}_hue_input"   class="ca_{{@ata}}_pad_input_radio"  type="radio"    value="1" name="color_input">
  <input id="ca_{{@ata}}_lum_input"   class="ca_{{@ata}}_pad_input_radio"  type="radio"    value="0" name="color_input">
  <input id="ca_{{@ata}}_tone_input"  class="ca_{{@ata}}_pad_input_check"  type="checkbox" value="0">
  <input id="ca_{{@ata}}_gray_input"  class="ca_{{@ata}}_pad_input_check"  type="checkbox" value="0">
  <input id="ca_{{@ata}}_eq_input"    class="ca_{{@ata}}_pad_input_check"  type="checkbox" value="0">
</div>