{# @imgURL, @ata #}
{# LEVEL_3 #}
<div id="ca_media_3_overlay_splitter">
  <img id="ca_{{@ata}}_img_back" src="{{ @imgURL }}{{ settings.media@min }}{{ @srcType }}" class="ca_media_processor_img ca_overlay_split_back"
       data-src-width="{{ @srcWidth }}" data-src-height="{{ @srcHeight }}">
  <canvas id="ca_{{@ata}}_processor_canvas" class="ca_media_processor_canvas ca_overlay_split_front">
    <img id="ca_{{@ata}}_img" src="{{ @imgURL }}{{ settings.media@min }}{{ @srcType }}" class="ca_media_processor_img"
         data-src-width="{{ @srcWidth }}" data-src-height="{{ @srcHeight }}">
  </canvas>
  <svg>
   <filter id="ca_{{@ata}}_filter" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
      <feColorMatrix id="ca_{{@ata}}_filter_matrix" type="matrix" values="1 0 0 0 0   0 1 0 0 0  0 0 1 0 0  0 0 0 1 0" />
    </filter>
  </svg>
  <div id="ca_color_processor_trace" class="ca_color_processor_trace"></div>
</div>

