{# @imgURL, @ata #}
{# LEVEL_3 #}
<div id="ca_{{@ata}}_processor_wrap">
  <div id="ca_{{@ata}}_processor_anim">
    <img  id="ca_{{@ata}}_img" src="{{ @imgURL }}{{ settings.media@min }}{{ @srcType }}" class="ca_media_processor_img"
        data-src-width="{{ @srcWidth }}" data-src-height="{{ @srcHeight }}">
  </div>
</div>
