{# LEVEL_3 #}

<div id="ca_{{@ata}}_control" class="ca_{{@ata}}_control">
  <div id="ca_{{@ata}}_control_pad" class="ca_{{@ata}}_control_pad">
    <div class="ca_{{@ata}}_control_key ca_{{@ata}}_control_rotation_key" onclick="M2_consoleInput('ROTATE_CW')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M14 16l6-6-6-6"/><path d="M4 21v-7a4 4 0 0 1 4-4h11"/></svg>
    </div>
    <div class="ca_{{@ata}}_control_key" onclick="M2_consoleInput('lines_v')">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M12 5v13M5 12l7 7 7-7"/></svg>
    </div>
    <div class="ca_{{@ata}}_control_key ca_{{@ata}}_control_rotation_key" onclick="M2_consoleInput('ROTATE_CW_R')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M10 16l-6-6 6-6"/><path d="M20 21v-7a4 4 0 0 0-4-4H5"/></svg>
    </div>

    <div class="ca_{{@ata}}_control_key" onclick="M2_consoleInput('lines_lr')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M7 7l9.2 9.2M17 7v10H7"/></svg>
    </div>
    <div class="ca_{{@ata}}_control_key" onclick="M2_consoleInput('UNDO')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </div>
    <div class="ca_{{@ata}}_control_key" onclick="M2_consoleInput('lines_rl')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M17 7l-9.2 9.2M7 7v10h10"/></svg>
    </div>

    <div class="ca_{{@ata}}_control_key ca_{{@ata}}_control_rotation_key" onclick="M2_consoleInput('FLIP_CW')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M21.5 2v6h-6M21.34 15.57a10 10 0 1 1-.57-8.38"/></svg>
    </div>
    <div class="ca_{{@ata}}_control_key" onclick="M2_consoleInput('lines_hz')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M5 12h13M12 5l7 7-7 7"/></svg>
    </div>
    <div class="ca_{{@ata}}_control_key ca_{{@ata}}_control_rotation_key" onclick="M2_consoleInput('FLIP_CW_R')">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" class="ca_{{@ata}}_control_key_icon"><path d="M2.5 2v6h6M2.66 15.57a10 10 0 1 0 .57-8.38"/></svg>
    </div>
  </div>
</div>
