---js
{
pagination: {
    data: 'collections.work',
    size: 8,
    alias: 'works',
  },
permalink: 'works/list_{{ pagination.pageNumber }}.html'
}
---
{% extends "base.njk" %}

{% block content %}
{% set @items = works %}
{% set @foldTitle = 'Répertoire des œuvres' %}
{% include "partials/_list_.njk" %}
{% endblock %}
