:root
{

}
.ca_color_selector
{
  position: relative;
  top:  2vh;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}

/*
.ca_media_3_selector_slide
{
}
*/
/*
.ca_media_3_selector_sliders
{
}
*/
