/***** GLOBAL CUSTOM PROPS *****/
:root
{
  /* UNITS */
  --Uw: 1vw;
  --Uh: 1vh;
  --Um: 1vmin;
  --Ua: calc(1vmin + ((1vmax - 1vmin) / 2));  /* size average unit */
  --Uf: 1rem;  /* font size unit */
  --Ur: 0.85rem;

  /* DIMENSIONS */
  --VIEW_LIMIT: 0;
  --VIEW_FULL_WIDTH:  100vw;
  --VIEW_FULL_HEIGHT: 100vh;
  --VIEW_HALF_WIDTH:   50vw;
  --VIEW_HALF_HEIGHT:  50vh;
  --VIEW_GOLD_WIDTH:  calc( 100vw * 0.618 );
  --VIEW_GOLD_HEIGHT: calc( 100vh * 0.618 );
  --CONTENT_RATIO:  0.9;
  --CONTENT_WIDTH:  calc(var(--VIEW_FULL_WIDTH)  * var(--CONTENT_RATIO));
  --CONTENT_HEIGHT: calc(var(--VIEW_FULL_HEIGHT) * var(--CONTENT_RATIO));

  --AREAS_COUNT:  0;
  --AREA_WIDTH:   100vw;
  --AREA_HEIGHT:  100vh;
  --AREA_SELECTOR_BORDER_WIDTH: 10vmin;
  --AREA_SELECTOR_SIDE_WIDTH: calc( var(--AREA_SELECTOR_BORDER_WIDTH) * 0.5 );

  /* POSITION */
  --POS_OUTRIGHT: var(--VIEW_FULL_WIDTH);
  --POS_OUTLEFT:  calc( var(--VIEW_FULL_WIDTH) * -1 );

  --AREA_ENTER: translate3d( calc( var(--AREA_WIDTH) * -1 ), 0, 0 );
  /* NOT USED --AREA_EXIT:  translateX( calc( var(--AREA_WIDTH) *  1 ) ); */


  /* Z-INDEX */
  --AREA_SELECTOR_Z: 10;
  --SCROLL_Z:        10;

  --CONTENT_MIN_WIDTH:   40%;
  --CONTENT_BORDER_BREAK: 60rem;

  /* PADDINGs + MARGINS*/
  --SPACE_0:      0;
  --SPACE_MEDIUM: 2rem;
  --SPACE_XTHIN:  calc(var(--SPACE_MEDIUM) / 4);
  --SPACE_THIN:   calc(var(--SPACE_MEDIUM) / 2);
  --SPACE_LARGE:  calc(var(--SPACE_MEDIUM) * 2);
  --SPACE_XLARGE: calc(var(--SPACE_MEDIUM) * 4);

  --SPACE_V_THIN:   var(--SPACE_THIN)   var(--SPACE_0)     var(--SPACE_THIN)   var(--SPACE_0) ;
  --SPACE_V_MEDIUM: var(--SPACE_MEDIUM) var(--SPACE_0)     var(--SPACE_MEDIUM) var(--SPACE_0) ;
  --SPACE_V_LARGE:  var(--SPACE_LARGE)  var(--SPACE_0)     var(--SPACE_LARGE)  var(--SPACE_0) ;
  --SPACE_H_THIN:   var(--SPACE_0)     var(--SPACE_THIN)   var(--SPACE_0)     var(--SPACE_THIN);
  --SPACE_H_MEDIUM: var(--SPACE_0)     var(--SPACE_MEDIUM) var(--SPACE_0)     var(--SPACE_MEDIUM);
  --SPACE_H_LARGE:  var(--SPACE_0)     var(--SPACE_LARGE)  var(--SPACE_0)     var(--SPACE_LARGE);

  --TEXT_HZ_PADDING: calc( var(--Um) * 6 );
  --TEXT_LEFT_PADDING: calc( var(--CONTENT_WIDTH) * 0.1618 );


  /* BORDERS */
  --BORDER_MEDIUM: 0.5rem;
  --BORDER_XTHIN:  calc(var(--BORDER_MEDIUM) / 4);
  --BORDER_THIN:   calc(var(--BORDER_MEDIUM) / 2);
  --BORDER_LARGE:  calc(var(--BORDER_MEDIUM) * 2);
  --BORDER_XLARGE: calc(var(--BORDER_MEDIUM) * 4);

  --BORDER_FRAME:           var(--BORDER_MEDIUM);
  --BORDER_FRAME_DARK:      var(--BORDER_FRAME) solid var(--COLOR_DARK);
  --BORDER_FRAME_GOLD:      var(--BORDER_FRAME) solid var(--COLOR_GOLD);
  --BORDER_FRAME_GOLD_TEXT: var(--BORDER_FRAME) solid var(--COLOR_GOLD);
  /*--BORDER_FRAME_GOLD_THIN: var(--BORDER_XTHIN) solid var(--COLOR_GOLD);*/

  --BORDER_LINK_THIN_TRANSPARENT:  0.1em solid var(--COLOR_MAXLIGHT_TRANSPARENT);
  --BORDER_LINK_THIN_MEDIUM_LIGHT: 0.1em solid var(--COLOR_MEDIUM_LIGHT);
  --BORDER_LINK_THIN_DEEP_DARK:    0.1em solid var(--COLOR_DEEP_DARK);

  --BORDER_SCROLL_V: 50vh solid hsla(var(--COLOR_HUE), var(--COLOR_SATURATION), var(--COLOR_LIGHT_LOW), 0.4);

  /* LAYOUT */
  --FLEX_DIR_CONTENT: column;

  /* GRIDS */
  --ITEMS_COLS_CAPACITY: 4;
  --ITEMS_COLS_FR: 0.25fr;
  --ITEMS_COLS_WIDTH: calc( (var(--CONTENT_WIDTH) / var(--ITEMS_COLS_CAPACITY)) * 0.8 );
  --ITEMS_COLS: repeat(auto-fit, minmax( var(--ITEMS_COLS_WIDTH), var(--ITEMS_COLS_FR) ) );
  --ITEMS_COL_GAP: var(--Uw);
  --ITEMS_ROW_HEIGHT: calc( var(--ITEMS_COLS_WIDTH) / 8 * 9 );
  --ITEMS_ROW_GAP: var(--Uh);
  --ITEMS_PADDING: var(--Um) calc( var(--Um) * 1.5);

  --FOLDER_ROW_HEIGHT: calc(var(--Uh) * 6);

  /* TEXT COLUMNS */
  --TXT_COLS_WIDTH: calc((var(--CONTENT_WIDTH) / var(--TXT_COLS_CAPACITY)) - (var(--Uw) * 5) );
  --TXT_COLS: auto var(--TXT_COLS_WIDTH);
  --TXT_COLS_GAP: calc(var(--Uw) * 2);
  --TXT_COLS_RULE: 1px solid var(--COLOR_MEDIUM);
  --TXT_COLS_PADDING: 0 var(--TEXT_HZ_PADDING);

  /* ??????
  --CONTROL_PANEL_DIM: 40vw;
  --CONTROL_PANEL_WIDTH:  var(--CONTROL_PANEL_DIM);
  --CONTROL_PANEL_HEIGHT: var(--CONTROL_PANEL_DIM);
  --CONTROL_PANEL_TOP:  0;
  --CONTROL_PANEL_LEFT: 0;
  --CONTROL_PANEL_HIDDEN_TOP:  calc(var(--CONTROL_PANEL_DIM) * -0.9);
  --CONTROL_PANEL_HIDDEN_LEFT: calc(var(--CONTROL_PANEL_DIM) * -0.9);
  */

  /* BACKGROUND */
  --BG_IMAGE: url('../media/images/backg.jpg');

  /* BOX SHADOW */
  --BOX_SHADOW:      0 0 calc(var(--Uh) * 2) var(--COLOR_DARK);
  --BOX_SHADOW_THIN: 0 0 var(--Uh) var(--COLOR_MEDIUM);
  --BOX_SHADOW_UP:   var(--Um) var(--Um) calc( var(--Um) * 2) var(--COLOR_DARK);
  --BOX_SHADOW_DOWN: calc( var(--Um) * 0.5) calc( var(--Um) * 0.5) calc( var(--Um) * 1) var(--COLOR_DARK);

  /* OPACITIES */
  --OPACITY_FACTOR: 0.25;
  --TRANSPARENT: 0;
  --QUASI_TRANSPARENT: calc( var(--OPACITY_FACTOR) * 1 );
  --SEMI_OPAQUE:       calc( var(--OPACITY_FACTOR) * 2 );
  --QUASI_OPAQUE:      calc( var(--OPACITY_FACTOR) * 3 );
  --OPAQUE:      1;

  --SCROLLBAR_OPACITY: 0.03;  /* 0.03 --> 0.3 */

  /* COLORS */
  --COLOR_HUE:            34;
  --COLOR_SECOND_HUE:     calc( var(--COLOR_HUE) + 180 );
  --COLOR_THIRD_HUE:      calc( var(--COLOR_HUE) + 200 );
  --COLOR_SATURATION:     17%;

  --COLOR_SATUR_MAX:      100%;
  --COLOR_SATUR_HIGH:     80%;
  --COLOR_SATUR_HIGH_L:   70%;
  --COLOR_SATUR_MEDIUM_H: 60%;
  --COLOR_SATUR_MEDIUM:   50%;
  --COLOR_SATUR_MEDIUM_L: 40%;
  --COLOR_SATUR_LOW:      20%;
  --COLOR_SATUR_DEEP:     10%;
  --COLOR_SATUR_MIN:      0%;

  --COLOR_LIGHT_MAX:      100%;
  --COLOR_LIGHT_HIGH:     80%;
  --COLOR_LIGHT_HIGH_L:   70%;
  --COLOR_LIGHT_MEDIUM_H: 60%;
  --COLOR_LIGHT_MEDIUM:   50%;
  --COLOR_LIGHT_MEDIUM_L: 40%;
  --COLOR_LIGHT_MEDIUM_P: 30%;
  --COLOR_LIGHT_LOW:      20%;
  --COLOR_LIGHT_DEEP:     10%;
  --COLOR_LIGHT_MIN:      0%;
  
  --COLOR_MAXLIGHT_O:     var(--COLOR_SATURATION), var(--COLOR_LIGHT_MAX);
  --COLOR_LIGHT_O:        var(--COLOR_SATURATION), var(--COLOR_LIGHT_HIGH);
  --COLOR_MEDIUM_LIGHT_O: var(--COLOR_SATURATION), var(--COLOR_LIGHT_MEDIUM_H);
  --COLOR_MEDIUM_PLUS_O:  var(--COLOR_SATURATION), var(--COLOR_LIGHT_MEDIUM_P);
  --COLOR_MEDIUM_O:       var(--COLOR_SATURATION), var(--COLOR_LIGHT_MEDIUM);
  --COLOR_MEDIUM_DARK_O:  var(--COLOR_SATURATION), var(--COLOR_LIGHT_MEDIUM_L);
  --COLOR_DARK_O:         var(--COLOR_SATURATION), var(--COLOR_LIGHT_LOW);
  --COLOR_DEEP_DARK_O:    var(--COLOR_SATURATION), var(--COLOR_LIGHT_DEEP);
  --COLOR_MAXDARK_O:      var(--COLOR_SATURATION), var(--COLOR_LIGHT_MIN);

  --COLOR_NEUTRAL_MAXLIGHT_O:     var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_MAX);
  --COLOR_NEUTRAL_LIGHT_O:        var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_HIGH);
  --COLOR_NEUTRAL_MEDIUM_LIGHT_O: var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_MEDIUM_H);
  --COLOR_NEUTRAL_MEDIUM_O:       var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_MEDIUM);
  --COLOR_NEUTRAL_MEDIUM_DARK_O:  var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_MEDIUM_L);
  --COLOR_NEUTRAL_DARK_O:         var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_LOW);
  --COLOR_NEUTRAL_DEEP_DARK_O:    var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_DEEP);
  --COLOR_NEUTRAL_MAXDARK_O:      var(--COLOR_SATUR_MEDIUM), var(--COLOR_LIGHT_MIN);

  /* PRIMARY COLORS */
  --COLOR_MAXLIGHT:              hsla(var(--COLOR_HUE), var(--COLOR_MAXLIGHT_O),     var(--OPAQUE));
  --COLOR_LIGHT:                 hsla(var(--COLOR_HUE), var(--COLOR_LIGHT_O),        var(--OPAQUE));
  --COLOR_MEDIUM_LIGHT:          hsla(var(--COLOR_HUE), var(--COLOR_MEDIUM_LIGHT_O), var(--OPAQUE));
  --COLOR_MEDIUM:                hsla(var(--COLOR_HUE), var(--COLOR_MEDIUM_O),       var(--OPAQUE));
  --COLOR_MEDIUM_DARK:           hsla(var(--COLOR_HUE), var(--COLOR_MEDIUM_DARK_O),  var(--OPAQUE));
  --COLOR_MEDIUM_PLUS:           hsla(var(--COLOR_HUE), var(--COLOR_MEDIUM_PLUS_O),  var(--OPAQUE));
  --COLOR_DARK:                  hsla(var(--COLOR_HUE), var(--COLOR_DARK_O),         var(--OPAQUE));
  --COLOR_DEEP_DARK:             hsla(var(--COLOR_HUE), var(--COLOR_DEEP_DARK_O),    var(--OPAQUE));
  --COLOR_MAXDARK:               hsla(var(--COLOR_HUE), var(--COLOR_MAXDARK_O),      var(--OPAQUE));
  
  --COLOR_MAXLIGHT_TRANSPARENT:  hsla(var(--COLOR_HUE), var(--COLOR_MAXLIGHT_O),  var(--TRANSPARENT));
  --COLOR_LIGHT_TRANSPARENT:     hsla(var(--COLOR_HUE), var(--COLOR_LIGHT_O),     var(--QUASI_TRANSPARENT));
  --COLOR_MEDIUM_TRANSPARENT:    hsla(var(--COLOR_HUE), var(--COLOR_MEDIUM_O),    var(--QUASI_TRANSPARENT));
  --COLOR_DEEP_DARK_TRANSPARENT: hsla(var(--COLOR_HUE), var(--COLOR_DEEP_DARK_O), var(--QUASI_TRANSPARENT));
  --COLOR_DEEP_DARK_SEMI_OPAQUE: hsla(var(--COLOR_HUE), var(--COLOR_DEEP_DARK_O), var(--SEMI_OPAQUE));

  /* SECONDARY COLORS */
  --COLOR_SECOND_MAXLIGHT:              hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MAXLIGHT_O),     var(--OPAQUE));
  --COLOR_SECOND_LIGHT:                 hsla(var(--COLOR_SECOND_HUE), var(--COLOR_LIGHT_O),        var(--OPAQUE));
  --COLOR_SECOND_MEDIUM_LIGHT:          hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MEDIUM_LIGHT_O), var(--OPAQUE));
  --COLOR_SECOND_MEDIUM:                hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MEDIUM_O),       var(--OPAQUE));
  --COLOR_SECOND_MEDIUM_DARK:           hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MEDIUM_DARK_O),  var(--OPAQUE));
  --COLOR_SECOND_DARK:                  hsla(var(--COLOR_SECOND_HUE), var(--COLOR_DARK_O),         var(--OPAQUE));
  --COLOR_SECOND_DEEP_DARK:             hsla(var(--COLOR_SECOND_HUE), var(--COLOR_DEEP_DARK_O),    var(--OPAQUE));
  --COLOR_SECOND_MAXDARK:               hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MAXDARK_O),      var(--OPAQUE));
  
  --COLOR_SECOND_MAXLIGHT_TRANSPARENT:  hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MAXLIGHT_O),  var(--TRANSPARENT));
  --COLOR_SECOND_LIGHT_TRANSPARENT:     hsla(var(--COLOR_SECOND_HUE), var(--COLOR_LIGHT_O),     var(--QUASI_TRANSPARENT));
  --COLOR_SECOND_MEDIUM_TRANSPARENT:    hsla(var(--COLOR_SECOND_HUE), var(--COLOR_MEDIUM_O),    var(--QUASI_TRANSPARENT));
  --COLOR_SECOND_DEEP_DARK_TRANSPARENT: hsla(var(--COLOR_SECOND_HUE), var(--COLOR_DEEP_DARK_O), var(--QUASI_TRANSPARENT));
  --COLOR_SECOND_DEEP_DARK_SEMI_OPAQUE: hsla(var(--COLOR_SECOND_HUE), var(--COLOR_DEEP_DARK_O), var(--SEMI_OPAQUE));

  /* TERTIARY COLORS (highlights, halo) */
  --COLOR_THIRD_MAXLIGHT:              hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MAXLIGHT_O),     var(--OPAQUE));
  --COLOR_THIRD_LIGHT:                 hsla(var(--COLOR_THIRD_HUE), var(--COLOR_LIGHT_O),        var(--OPAQUE));
  --COLOR_THIRD_MEDIUM_LIGHT:          hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MEDIUM_LIGHT_O), var(--OPAQUE));
  --COLOR_THIRD_MEDIUM:                hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MEDIUM_O),       var(--OPAQUE));
  --COLOR_THIRD_MEDIUM_DARK:           hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MEDIUM_DARK_O),  var(--OPAQUE));
  --COLOR_THIRD_DARK:                  hsla(var(--COLOR_THIRD_HUE), var(--COLOR_DARK_O),         var(--OPAQUE));
  --COLOR_THIRD_DEEP_DARK:             hsla(var(--COLOR_THIRD_HUE), var(--COLOR_DEEP_DARK_O),    var(--OPAQUE));
  --COLOR_THIRD_MAXDARK:               hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MAXDARK_O),      var(--OPAQUE));
  
  --COLOR_THIRD_MAXLIGHT_TRANSPARENT:  hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MAXLIGHT_O),  var(--TRANSPARENT));
  --COLOR_THIRD_LIGHT_TRANSPARENT:     hsla(var(--COLOR_THIRD_HUE), var(--COLOR_LIGHT_O),     var(--QUASI_TRANSPARENT));
  --COLOR_THIRD_MEDIUM_TRANSPARENT:    hsla(var(--COLOR_THIRD_HUE), var(--COLOR_MEDIUM_O),    var(--QUASI_TRANSPARENT));
  --COLOR_THIRD_DEEP_DARK_TRANSPARENT: hsla(var(--COLOR_THIRD_HUE), var(--COLOR_DEEP_DARK_O), var(--QUASI_TRANSPARENT));
  --COLOR_THIRD_DEEP_DARK_SEMI_OPAQUE: hsla(var(--COLOR_THIRD_HUE), var(--COLOR_DEEP_DARK_O), var(--SEMI_OPAQUE));

  /* NEUTRAL COLORS */
--COLOR_NEUTRAL_MAXLIGHT:              hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MAXLIGHT_O),     var(--OPAQUE));
--COLOR_NEUTRAL_LIGHT:                 hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_LIGHT_O),        var(--OPAQUE));
--COLOR_NEUTRAL_MEDIUM_LIGHT:          hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MEDIUM_LIGHT_O), var(--OPAQUE));
--COLOR_NEUTRAL_MEDIUM:                hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MEDIUM_O),       var(--OPAQUE));
--COLOR_NEUTRAL_MEDIUM_DARK:           hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MEDIUM_DARK_O),  var(--OPAQUE));
--COLOR_NEUTRAL_DARK:                  hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_DARK_O),         var(--OPAQUE));
--COLOR_NEUTRAL_DEEP_DARK:             hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_DEEP_DARK_O),    var(--OPAQUE));
--COLOR_NEUTRAL_MAXDARK:               hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MAXDARK_O),      var(--OPAQUE));

--COLOR_NEUTRAL_MAXLIGHT_TRANSPARENT:  hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MAXLIGHT_O),  var(--TRANSPARENT));
--COLOR_NEUTRAL_LIGHT_TRANSPARENT:     hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_LIGHT_O),     var(--QUASI_TRANSPARENT));
--COLOR_NEUTRAL_MEDIUM_TRANSPARENT:    hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_MEDIUM_O),    var(--QUASI_TRANSPARENT));
--COLOR_NEUTRAL_DEEP_DARK_TRANSPARENT: hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_DEEP_DARK_O), var(--QUASI_TRANSPARENT));
--COLOR_NEUTRAL_DEEP_DARK_SEMI_OPAQUE: hsla(var(--COLOR_HUE), var(--COLOR_NEUTRAL_DEEP_DARK_O), var(--SEMI_OPAQUE));

--COLOR_SECOND_NEUTRAL_MAXLIGHT:              hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MAXLIGHT_O),     var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_LIGHT:                 hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_LIGHT_O),        var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_MEDIUM_LIGHT:          hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MEDIUM_LIGHT_O), var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_MEDIUM:                hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MEDIUM_O),       var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_MEDIUM_DARK:           hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MEDIUM_DARK_O),  var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_DARK:                  hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_DARK_O),         var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_DEEP_DARK:             hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_DEEP_DARK_O),    var(--OPAQUE));
--COLOR_SECOND_NEUTRAL_MAXDARK:               hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MAXDARK_O),      var(--OPAQUE));

--COLOR_SECOND_NEUTRAL_MAXLIGHT_TRANSPARENT:  hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MAXLIGHT_O),  var(--TRANSPARENT));
--COLOR_SECOND_NEUTRAL_LIGHT_TRANSPARENT:     hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_LIGHT_O),     var(--QUASI_TRANSPARENT));
--COLOR_SECOND_NEUTRAL_MEDIUM_TRANSPARENT:    hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_MEDIUM_O),    var(--QUASI_TRANSPARENT));
--COLOR_SECOND_NEUTRAL_DEEP_DARK_TRANSPARENT: hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_DEEP_DARK_O), var(--QUASI_TRANSPARENT));
--COLOR_SECOND_NEUTRAL_DEEP_DARK_SEMI_OPAQUE: hsla(var(--COLOR_SECOND_HUE), var(--COLOR_NEUTRAL_DEEP_DARK_O), var(--SEMI_OPAQUE));

  /* SPECIAL COLORS */
  --COLOR_GOLD: var(--COLOR_MEDIUM);
  --IMG_BGCOLOR: var(--COLOR_DEEP_DARK); /* default to be overridden */
  --LINK_COLOR: var(--COLOR_MAXLIGHT);
  --BODY_BGCOLOR: hsla(34, 85%, 3%, 0.77);
  --CONTENT_BG_COLOR: var(--BODY_BGCOLOR);

  /* FONTS */
    /* FAMILIES */
  --FONT_TITLE: 'Philosopher', sans-serif;
  --FONT_BODY:  'Antic', sans-serif;
    /* SIZES */
  --FONT_SIZE_MEDIUM: calc(var(--Uf) * 1.2 );
  --FONT_SIZE_FACTOR: 1.5;
  --FONT_SIZE_XSMALL: calc(var(--FONT_SIZE_SMALL) / var(--FONT_SIZE_FACTOR));
  --FONT_SIZE_SMALL:  calc(var(--FONT_SIZE_MEDIUM) / var(--FONT_SIZE_FACTOR));
  --FONT_SIZE_MEDIUM_L:   calc(var(--FONT_SIZE_MEDIUM) * 0.95);
  --FONT_SIZE_MEDIUM_SMALL:  calc(var(--FONT_SIZE_MEDIUM) * calc(var(--FONT_SIZE_FACTOR) / 2));
  --FONT_SIZE_LARGE:  calc(var(--FONT_SIZE_MEDIUM) * var(--FONT_SIZE_FACTOR));
  --FONT_SIZE_XLARGE: calc(var(--FONT_SIZE_LARGE) * var(--FONT_SIZE_FACTOR));
    /* WEIGHTS */
  --FONT_WEIGHT_FACTOR: 0.25;
  --FONT_WEIGHT_MEDIUM: 400;
  --FONT_WEIGHT_XLIGHT: calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 2);
  --FONT_WEIGHT_LIGHT:  calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 3);
  --FONT_WEIGHT_HEAVY:  calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 6);
  --FONT_WEIGHT_XHEAVY: calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 8);
    /* LINE HEIGHT */
  --FONT_LINE_FACTOR: 0.2;
  --FONT_LINE_MEDIUM: 1.25;
  --FONT_LINE_XLOW:  calc(var(--FONT_LINE_MEDIUM) - (var(--FONT_WEIGHT_FACTOR) * 2));
  --FONT_LINE_LOW:   calc(var(--FONT_LINE_MEDIUM) - (var(--FONT_WEIGHT_FACTOR) * 1));
  --FONT_LINE_HIGH:  calc(var(--FONT_LINE_MEDIUM) + (var(--FONT_WEIGHT_FACTOR) * 1));
  --FONT_LINE_XHIGH: calc(var(--FONT_LINE_MEDIUM) + (var(--FONT_WEIGHT_FACTOR) * 2));

    /* CURSORS */
  --CURSOR_MENU:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="60" style="font-size:40px;fill:hsla(34,70%,100%,1);"><text y="30">☰</text></svg>'), auto;

  /* ANIMATIONS */
  --TRANSITION_03s: 0.3s ease;
  --TRANSITION_05s: 0.5s ease;
  --TRANSITION_1s:  1.0s ease;
  --TRANSITION_2s:  2.0s ease;
  --TRANSITION_3s:  3.0s ease;
}
