@media screen and (min-width: 25rem) /* 400px */
{
  :root
  {
    --FLEX_DIR_CONTENT: column;
    --FLEX_GROW: 0;
    --Uf: calc(0.7rem + ((1vw - 0.1rem) * 0.2));  /* 0.2 = 100 * font_Size_Difference / viewport_Width_Difference */
    --TXT_COLS_CAPACITY: 1;
    --COLOR_SELECTOR_ARCS: 72; /* 360 / 5 */
  }
}

@media screen and (min-width: 50rem) /* 800px */
{
  :root
  {
    --FLEX_DIR_CONTENT: column;
    --FLEX_GROW: 0;
    --Uf: calc(0.7rem + ((1vw - 0.1rem) * 0.2));  /* 0.2 = 100 * font_Size_Difference / viewport_Width_Difference */
    --TXT_COLS_CAPACITY: 1;
    --COLOR_SELECTOR_ARCS: 90; /* 360 / 4 */
  }
}

@media screen and (min-width: 70rem) /* 1120px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 1;
    --Uf: calc(0.8rem + ((1vw - 0.6rem) * 0.2));
    --TXT_COLS_CAPACITY: 2;
    --COLOR_SELECTOR_ARCS: 120; /* 360 / 3 */
  }
}

@media screen and (min-width: 110rem) /* 1920px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 1;
    --Uf: calc(0.8rem + ((1vw - 0.6rem) * 0.2));
    --TXT_COLS_CAPACITY: 3;
    --COLOR_SELECTOR_ARCS: 180; /* 360 / 2 */
  }
}

@media screen and (min-width: 150rem) /* 2560px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 1;
    --Uf: calc(1rem + ((1vw - 1.2rem) * 0.2));
    --TXT_COLS_CAPACITY: 4;
    --COLOR_SELECTOR_ARCS: 360;
  }
}

@media screen and (min-width: 230rem) /* 3840px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 2;
    --Uf: calc(1.2rem + ((1vw - 1.8rem) * 0.2));
    --TXT_COLS_CAPACITY: 4;
    --COLOR_SELECTOR_ARCS: 360;
  }
}
