{# @dir #}

<div id="ca_blockimg" class="ca_layout_blockimg">{#% include "partials/_fold_imgs_open_.njk" %#}
  {% set @foldTitle = null %}
  {% include "partials/_fold_txt_open_.njk" %}
  {% include @dir + "/_in_img_.njk" %}
  {% include "partials/_fold_txt_close_.njk" %}{#% include "partials/_fold_imgs_close_.njk" %#}
</div>
