---js
{
pagination: {
    data: 'collections.tech',
    size: 8,
    alias: 'posts',
  },
permalink: 'tech/list_{{ pagination.pageNumber }}.html'
}
---
{% set @foldTitle = 'Répertoire des articles' %}
{% include "post/_post_list_.njk" %}
