{# @title, @author, @date #}
<ul class="ca_post_header">
  <li class="ca_post_title">{{ @title }}</li>
  {% if @author %}
  <li class="ca_post_signature">{{ @date }}</li>
  <li class="ca_post_subtitle"></li>
  {% include "partials/_post_signature_.njk" %}
  {% endif %}
</ul>
