{% extends "base.njk" %}

{% block content %}

{# REMOVE ??? #}{% set @is_open   = 'ca_is_open' %}
{% if foldTitle %}{% set @foldTitle = foldTitle %}{% else %}{% set @foldTitle = 'Article' %}{% endif %}
{% set @title = subtitle %}
{% set @author = author %}
{% set @date = hdates[0] %}
{% set @dir = 'post' %}
{% if not @inimgDir %}{% set @inimgDir  = 'partials' %}{% endif %}

{% block text %}
{% set @asList = '' %}
{% include "partials/blocks/_area_text_.njk" %}
{% endblock %}

{% block gallery %}
{% if areas.length > 2 %}
{% include "partials/blocks/_area_gallery_.njk" %}
{% endif %}
{% endblock %}

{% endblock %}

{% block scripts_specifics %}
{% if isUser %}{% include "partials/blocks/_user_.njk" %}{% endif %}
{% if isUserCollection %}{% include "partials/blocks/_user_collection_.njk" %}{% endif %}
{% endblock %}

