.ca_media_4_selector_hue
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:    0;
  left:   0;
  height: var(--VIEW_FULL_HEIGHT);
  width:  var(--VIEW_FULL_WIDTH);
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}

.ca_media_4_centering
{
  position: relative;
  width:  100vmin;
  height: 100vmin;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 3s ease;
}
.ca_media_4_centering:hover
{
  opacity: 1;
  transition: opacity .5s ease;
}

.ca_media_4_processor_satur,
.ca_media_4_processor_lumen
{
  --processor_burst_dim: 75vmin;

  position: absolute;
  width:  var(--processor_burst_dim);
  height: var(--processor_burst_dim);
  transition: all .5s ease;
}
.ca_media_4_processor_satur
{
  top: 0;
  right: 0;
  transform-origin: top right;
}

.ca_media_4_processor_lumen
{
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
}
.ca_media_4_processor_satur:hover,
.ca_media_4_processor_lumen:hover
{
  cursor: zoom-out;
}
.ca_media_4_processor_satur:hover.ca_media_4_processor_atmin,
.ca_media_4_processor_lumen:hover.ca_media_4_processor_atmin
{
  cursor: zoom-in;
}
.ca_media_4_processor_atmin
{
  opacity: 0.3;
  transform: scale( 0.5 );
  transition: all .5s ease;
}
.ca_media_4_processor_atmin:hover
{
  opacity: 1;
  transition: all .5s ease;
}


/*
.ca_media_4_selector_SVG_hue
{
}

.ca_media_4_processor_SVG_saturation
{
}

.ca_media_4_processor_SVG_lumen
{
}
*/