/* COLORS PALETTE */
:root
{
  --C_HUE_NEUT:  34;
  --C_HUE_PRIM:  34;
  --C_HUE_AC_1:  70; /* 34 + 1*60 */
  --C_HUE_AC_2: 170; /* 34 + 2*60 */
  --C_HUE_AC_3: 230; /* 34 + 3*60 */
  --C_HUE_AC_4: 265; /* 34 + 4*60 */

  
  --C_SAT_HIGH_XX: 100%;
  --C_SAT_HIGH_X:   90%;
  --C_SAT_HIGH:     80%;
  --C_SAT_MED_H:    65%;
  --C_SAT_MED:      50%;
  --C_SAT_MED_L:    35%;
  --C_SAT_LOW:      20%;   
  --C_SAT_LOW_X:    10%;
  --C_SAT_LOW_XX:    0%;

  --C_LUM_HIGH_XX: 100%;
  --C_LUM_HIGH_X:   90%;
  --C_LUM_HIGH:     80%;
  --C_LUM_MED_H:    65%;
  --C_LUM_MED:      50%;
  --C_LUM_MED_L:    35%;
  --C_LUM_LOW:      20%;   
  --C_LUM_LOW_X:    10%;
  --C_LUM_LOW_XX:    0%;

  --C_OPA_HIGH_XX: 1;
  --C_OPA_HIGH_X:  0.9;
  --C_OPA_HIGH:    0.8;
  --C_OPA_MED_H:   0.65;
  --C_OPA_MED:     0.5;
  --C_OPA_MED_L:   0.35;
  --C_OPA_LOW:     0.2;   
  --C_OPA_LOW_X:   0.1;
  --C_OPA_LOW_XX:  0;


/* ===== COLORS ===== */

  /* NEUTRAL OPAQUE */
--C_NEUT_HIGH_XX: hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH_XX), var(--C_OPA_HIGH_XX)  );
--C_NEUT_HIGH_X:  hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH_X ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_HIGH:    hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH   ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_MED_H:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED_H  ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_MED:     hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED    ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_MED_L:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED_L  ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_LOW:     hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW    ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_LOW_X:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW_X  ), var(--C_OPA_HIGH_XX)  );
--C_NEUT_LOW_XX:  hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW_XX ), var(--C_OPA_HIGH_XX)  );
  /* NEUTRAL TRANSPARENT 65% */
--C_NEUT_HIGH_XX_65: hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH_XX), var(--C_OPA_MED_H)  );
--C_NEUT_HIGH_X_65:  hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH_X ), var(--C_OPA_MED_H)  );
--C_NEUT_HIGH_65:    hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH   ), var(--C_OPA_MED_H)  );
--C_NEUT_MED_H_65:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED_H  ), var(--C_OPA_MED_H)  );
--C_NEUT_MED_65:     hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED    ), var(--C_OPA_MED_H)  );
--C_NEUT_MED_L_65:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED_L  ), var(--C_OPA_MED_H)  );
--C_NEUT_LOW_65:     hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW    ), var(--C_OPA_MED_H)  );
--C_NEUT_LOW_X_65:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW_X  ), var(--C_OPA_MED_H)  );
--C_NEUT_LOW_XX_65:  hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW_XX ), var(--C_OPA_MED_H)  );
/* NEUTRAL TRANSPARENT 35% */
--C_NEUT_HIGH_XX_35: hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH_XX), var(--C_OPA_MED_L)  );
--C_NEUT_HIGH_X_35:  hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH_X ), var(--C_OPA_MED_L)  );
--C_NEUT_HIGH_35:    hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_HIGH   ), var(--C_OPA_MED_L)  );
--C_NEUT_MED_H_35:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED_H  ), var(--C_OPA_MED_L)  );
--C_NEUT_MED_35:     hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED    ), var(--C_OPA_MED_L)  );
--C_NEUT_MED_L_35:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_MED_L  ), var(--C_OPA_MED_L)  );
--C_NEUT_LOW_35:     hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW    ), var(--C_OPA_MED_L)  );
--C_NEUT_LOW_X_35:   hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW_X  ), var(--C_OPA_MED_L)  );
--C_NEUT_LOW_XX_35:  hsla( var(--C_HUE_NEUT), var(--C_SAT_LOW_XX), var(--C_LUM_LOW_XX ), var(--C_OPA_MED_L)  );
    
/* PRIMARY OPAQUE */
--C_PRIM_HIGH_XX: hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_HIGH_X:  hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_HIGH:    hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_MED_H:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_MED:     hsla( var(--C_HUE_PRIM), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_MED_L:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_LOW:     hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_LOW_X:   hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
--C_PRIM_LOW_XX:  hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
/* PRIMARY TRANSPARENT 65% */
--C_PRIM_HIGH_XX_65: hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_HIGH_X_65:  hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_HIGH_65:    hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_MED_H_65:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_MED_65:     hsla( var(--C_HUE_PRIM), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_MED_L_65:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_LOW_65:     hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_LOW_X_65:   hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
--C_PRIM_LOW_XX_65:  hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_SAT_MED_H)  );
/* PRIMARY TRANSPARENT 50% */
--C_PRIM_HIGH_XX_50: hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_HIGH_X_50:  hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_HIGH_50:    hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_MED_H_50:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_MED_50:     hsla( var(--C_HUE_PRIM), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_MED_L_50:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_LOW_50:     hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_LOW_X_50:   hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
--C_PRIM_LOW_XX_50:  hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_MED)  );
/* PRIMARY TRANSPARENT 35% */
--C_PRIM_HIGH_XX_35: hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_HIGH_X_35:  hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_HIGH_35:    hsla( var(--C_HUE_PRIM), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_MED_H_35:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_MED_35:     hsla( var(--C_HUE_PRIM), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_MED_L_35:   hsla( var(--C_HUE_PRIM), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_LOW_35:     hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_LOW_X_35:   hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );
--C_PRIM_LOW_XX_35:  hsla( var(--C_HUE_PRIM), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_MED_L)  );

/* ACCENTS */
  /* AC_1 OPAQUE */
  --C_AC_1_HIGH_XX: hsla( var(--C_HUE_AC_1), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_HIGH_X:  hsla( var(--C_HUE_AC_1), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_HIGH:    hsla( var(--C_HUE_AC_1), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_MED_H:   hsla( var(--C_HUE_AC_1), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_MED:     hsla( var(--C_HUE_AC_1), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_MED_L:   hsla( var(--C_HUE_AC_1), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_LOW:     hsla( var(--C_HUE_AC_1), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_LOW_X:   hsla( var(--C_HUE_AC_1), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_1_LOW_XX:  hsla( var(--C_HUE_AC_1), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  /* AC_1 TRANSPARENT 50% */
  --C_AC_1_HIGH_XX_50: hsla( var(--C_HUE_AC_1), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_HIGH_X_50:  hsla( var(--C_HUE_AC_1), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_HIGH_50:    hsla( var(--C_HUE_AC_1), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_MED_H_50:   hsla( var(--C_HUE_AC_1), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_MED_50:     hsla( var(--C_HUE_AC_1), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_MED_L_50:   hsla( var(--C_HUE_AC_1), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_LOW_50:     hsla( var(--C_HUE_AC_1), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_LOW_X_50:   hsla( var(--C_HUE_AC_1), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_1_LOW_XX_50:  hsla( var(--C_HUE_AC_1), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  
  /* AC_2 OPAQUE */
  --C_AC_2_HIGH_XX: hsla( var(--C_HUE_AC_2), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_HIGH_X:  hsla( var(--C_HUE_AC_2), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_HIGH:    hsla( var(--C_HUE_AC_2), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_MED_H:   hsla( var(--C_HUE_AC_2), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_MED:     hsla( var(--C_HUE_AC_2), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_MED_L:   hsla( var(--C_HUE_AC_2), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_LOW:     hsla( var(--C_HUE_AC_2), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_LOW_X:   hsla( var(--C_HUE_AC_2), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_2_LOW_XX:  hsla( var(--C_HUE_AC_2), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  /* AC_2 TRANSPARENT 50% */
  --C_AC_2_HIGH_XX_50: hsla( var(--C_HUE_AC_2), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_HIGH_X_50:  hsla( var(--C_HUE_AC_2), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_HIGH_50:    hsla( var(--C_HUE_AC_2), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_MED_H_50:   hsla( var(--C_HUE_AC_2), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_MED_50:     hsla( var(--C_HUE_AC_2), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_MED_L_50:   hsla( var(--C_HUE_AC_2), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_LOW_50:     hsla( var(--C_HUE_AC_2), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_LOW_X_50:   hsla( var(--C_HUE_AC_2), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_2_LOW_XX_50:  hsla( var(--C_HUE_AC_2), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_MED)  );

  /* AC_3 OPAQUE */
  --C_AC_3_HIGH_XX: hsla( var(--C_HUE_AC_3), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_HIGH_X:  hsla( var(--C_HUE_AC_3), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_HIGH:    hsla( var(--C_HUE_AC_3), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_MED_H:   hsla( var(--C_HUE_AC_3), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_MED:     hsla( var(--C_HUE_AC_3), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_MED_L:   hsla( var(--C_HUE_AC_3), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_LOW:     hsla( var(--C_HUE_AC_3), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_LOW_X:   hsla( var(--C_HUE_AC_3), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_3_LOW_XX:  hsla( var(--C_HUE_AC_3), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  /* AC_3 TRANSPARENT 50% */
  --C_AC_3_HIGH_XX_50: hsla( var(--C_HUE_AC_3), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_HIGH_X_50:  hsla( var(--C_HUE_AC_3), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_HIGH_50:    hsla( var(--C_HUE_AC_3), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_MED_H_50:   hsla( var(--C_HUE_AC_3), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_MED_50:     hsla( var(--C_HUE_AC_3), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_MED_L_50:   hsla( var(--C_HUE_AC_3), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_LOW_50:     hsla( var(--C_HUE_AC_3), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_LOW_X_50:   hsla( var(--C_HUE_AC_3), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_3_LOW_XX_50:  hsla( var(--C_HUE_AC_3), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_MED)  );

  /* AC_4 OPAQUE */
  --C_AC_4_HIGH_XX: hsla( var(--C_HUE_AC_4), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_HIGH_X:  hsla( var(--C_HUE_AC_4), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_HIGH:    hsla( var(--C_HUE_AC_4), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_MED_H:   hsla( var(--C_HUE_AC_4), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_MED:     hsla( var(--C_HUE_AC_4), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_MED_L:   hsla( var(--C_HUE_AC_4), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_LOW:     hsla( var(--C_HUE_AC_4), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_LOW_X:   hsla( var(--C_HUE_AC_4), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  --C_AC_4_LOW_XX:  hsla( var(--C_HUE_AC_4), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_HIGH_XX)  );
  /* AC_4 TRANSPARENT 50% */
  --C_AC_4_HIGH_XX_50: hsla( var(--C_HUE_AC_4), var(--C_SAT_HIGH_XX), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_HIGH_X_50:  hsla( var(--C_HUE_AC_4), var(--C_SAT_HIGH_X ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_HIGH_50:    hsla( var(--C_HUE_AC_4), var(--C_SAT_HIGH   ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_MED_H_50:   hsla( var(--C_HUE_AC_4), var(--C_SAT_MED_H  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_MED_50:     hsla( var(--C_HUE_AC_4), var(--C_SAT_MED    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_MED_L_50:   hsla( var(--C_HUE_AC_4), var(--C_SAT_MED_L  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_LOW_50:     hsla( var(--C_HUE_AC_4), var(--C_SAT_LOW    ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_LOW_X_50:   hsla( var(--C_HUE_AC_4), var(--C_SAT_LOW_X  ), var(--C_LUM_MED), var(--C_OPA_MED)  );
  --C_AC_4_LOW_XX_50:  hsla( var(--C_HUE_AC_4), var(--C_SAT_LOW_XX ), var(--C_LUM_MED), var(--C_OPA_MED)  );
}