.ca_svg_icon
{
  fill: none;
  stroke: var(--COLOR_NEUTRAL_MAXLIGHT);
  stroke-width: 1;
  stroke-linecap: square;
  stroke-linejoin: arcs;
}

@keyframes svg_icon_menu_a
{
  0%    { opacity: 1; }
  90%   { opacity: 0.8; }
  100%  { opacity: 0;   }
}
#ca_svg_icon_menu_1,
#ca_svg_icon_menu_2,
#ca_svg_icon_menu_3,
#ca_svg_icon_menu_4,
#ca_svg_icon_menu_5
{
  --a_delay_gap: 0.1;

  animation: svg_icon_menu_a 3s 16;
  animation-delay: calc( var(--a_delay_gap) * var(--a_delay_order) * 1s );
}
#ca_svg_icon_menu_1
{
  --a_delay_order: 1;
}
#ca_svg_icon_menu_2
{
  --a_delay_order: 2;
}
#ca_svg_icon_menu_3
{
  --a_delay_order: 3;
}
#ca_svg_icon_menu_4
{
  --a_delay_order: 4;
}
#ca_svg_icon_menu_5
{
  --a_delay_order: 5;
}
