


<template id="ca_conductor_steps_gallery">
<ul id="ca_conductor_steps_list">
<li data-step="0" data-target=".ca_area_selector" data-width="300">
<div class="ca_conductor_title_temp"><h4 >Menu container</h4></div>
<div class="ca_conductor_description_temp">
<p><strong>Ceci est un test</strong></p>
<p><em>Cette fonction sera très prochainement disponible</em></p>
</div>
</li>
<li data-step="1" data-target=".ca_folder_inverse" data-width="450">
<div class="ca_conductor_title_temp"><h4 >Page status access</h4></div>
<div class="ca_conductor_description_temp">
<p>Pour activer les annotations et le guidage</p>
</div>
<div data-callback="true" data-callback-once="true">
console.log( 'Bonjour Mr. Callback' )
</div>
</li>

</ul>  
</template>
