.ca_folder_container
{
  display: flex;
  width: inherit;
  justify-content: center;
}

.ca_folder_container_inner
{
  width: 100%;
}

.ca_folder
{
  position: relative;
  width: calc( 110% - var(--TEXT_LEFT_PADDING) );
  transform: translate3d( var(--TEXT_LEFT_PADDING), 0, 0);
  margin-bottom: 2rem;
  padding: 2rem var(--TEXT_LEFT_PADDING) 0.5rem 1rem;
  height: auto;
  background-color: var(--COLOR_DARK);
  background-image: var(--GRADIENT_TEXT_LIGHT);
  border-width: 0 0 0.2rem 0;
  border-style: solid;
  border-image: linear-gradient(to right, hsla(var(--COLOR_DEEP_DARK_O), 0.5), hsla(var(--COLOR_MAXLIGHT_O), 0.1));
  border-image-slice: 1;
  color: var(--COLOR_MEDIUM_DARK);
  font-family: var(--FONT_TITLE);
  font-size: var(--FONT_SIZE_LARGE);
  font-weight: var(--FONT_WEIGHT_HEAVY);
  text-transform: uppercase;
  cursor: pointer;
  transition: all var(--TRANSITION_03s);
}
.ca_has_open > .ca_folder
{
  width: 100%;
  transform: translate3d( 0, 0, 0);
  margin-left: var(--TEXT_HZ_PADDING);
  border-image: linear-gradient(to right, hsla(var(--COLOR_DEEP_DARK_O), 0.7), hsla(var(--COLOR_MAXLIGHT_O), 0.2));
  transition: all var(--TRANSITION_03s);
}
.ca_folder:hover
.ca_has_open > .ca_folder:hover
{
  border-image: linear-gradient(to right, hsla(var(--COLOR_DEEP_DARK_O), 0.8), hsla(var(--COLOR_MAXLIGHT_O), 0.5));
  color: var(--COLOR_SECOND_DEEP_DARK);
  transition: all var(--TRANSITION_03s);
}
.ca_folder:hover
{
  transform: translate3d( calc(var(--TEXT_LEFT_PADDING) * 0.9 ), 0, 0);
}
.ca_has_open > .ca_folder:hover
{
  transform: translate3d( calc(var(--TEXT_LEFT_PADDING) * 0.1 ), 0, 0);
}
.ca_folder_inverse
{
  background-color: var(--COLOR_DEEP_DARK);
  background-image: var(--GRADIENT_MEDIUM_DARK);
  color: var(--COLOR_DARK);
}

.ca_folder a
{
  color: var(--COLOR_LIGHT);
}
.ca_folder a:hover
{
  color: var(--COLOR_MAXLIGHT);
}

.ca_fold_open
{
  position: absolute;
  top: 0;
  right: 0;
}

.ca_fold_content
{
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}

.ca_fold_content_item
{
  height: 0;
  transform-origin: top center;
  transform: scaleY( 0 );
  color: var(--COLOR_MAXDARK);
  font-family: var(--FONT_BODY);
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_LINE_HIGH);
  transition: var(--TRANSITION_05s);
}
.ca_fold_content_item.ca_is_open
{
  height: 100%;
  transform-origin: top center;
  transform: scaleY( 1 );
  padding: 1rem 0;
  transition: var(--TRANSITION_05s);
}

.ca_fold_xcols_norule,
.ca_fold_xcols
{
  padding: var(--TXT_COLS_PADDING);
  columns: var(--TXT_COLS);
  column-gap: var(--TXT_COLS_GAP);
  /*break-inside: avoid;*/
  background-image: var(--GRADIENT_TEXT_LIGHT);
}
.ca_fold_xcols
{
  column-rule: var(--TXT_COLS_RULE);
}

.ca_fold_dark
{
  background: var(--COLOR_MEDIUM_DARK);
}