:root
{
  --MEDIA_1_FADEIN_COUNT: 4;
  --MEDIA_1_CURSOR: var(--CURSOR_PLAY);
}

.ca_media_1_control
{
  position: absolute;
  width:  0;
  height: 0;
  opacity: 0;
}
.ca_media_1_processor
{
  position: relative;
  background-color: transparent;
}

#ca_media_1_processor_wrap
{
  position: relative;
  top: 0;
  left: 0;
}

#ca_media_1_processor_anim
{
  position: relative;
  background-color: transparent;
  cursor: var(--MEDIA_1_CURSOR);
}
#ca_media_1_img
{
  position: relative;
  opacity: 0;  /* initial */
  animation: ca_media_1_fadein 10s ease-in var(--MEDIA_1_FADEIN_COUNT) alternate;
  animation-play-state: paused;
  cursor: var(--CURSOR_PAUSE);
}
#ca_media_1_img:hover
{
  animation-play-state: running;
}
@keyframes ca_media_1_fadein
{
  0%   { opacity: 0.2;  transform: scale(0.25); }
  10%  { opacity: 0.25; transform: scale(0.25); }
  90%  { opacity: 0.99; transform: scale(1); }
  100% { opacity: 1;    transform: scale(1); }
}

/*
#ca_media_1_img:hover
{
  opacity: 0.2;
}
*/