:root
{
  --M3_SLIDE_RANGE:    256;
  --M3_CONSOLE_EQ:    32;
  --M3_CONSOLE_WIDTH: 0;
  --M3_PAD_WIDTH:     8rem;
  --M3_CONSOLE_COLOR: hsl(var(--COLOR_THIRD_HUE), 50%, 75% );
  --M3_FE_MATRIX:
    0 0 R 0 0
    0 0 G 0 0
    0 0 B 0 0
    0 0 0 1 0;
  --M3_FE_MATRIX_RESET:
    1 0 0 0 0
    0 1 0 0 0
    0 0 1 0 0
    0 0 0 1 0;
  --M3_FE_MATRIX_GRAY_VALUE: 1.5;
}

.ca_color_selector
{
  position: relative;
  z-index: 1;
  top: calc( 50vh - (var( --MEDIA_2_CONTROL_DIM ) / 2 ) );
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transition: opacity 2s ease;
}
.ca_color_selector:hover
{
  opacity: 1;
  transition: opacity 0.3s ease;
}

#ca_media_3_selector_pad
{
  position: relative;
  width: var(--M3_PAD_WIDTH);
  height: calc( (var(--M3_SLIDE_RANGE) + ((var(--M3_CONSOLE_EQ)) * 2)) * 1px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid hsla( 34, 10%, 45%, 1);
  font-family: var(--FONT_TITLE);
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_LINE_MEDIUM);
  opacity: 1;
}
#ca_media_3_selector_pad
{
  background-color: var(--COLOR_DEEP_DARK);
}

.ca_color_pad_label
{
  position: relative;
  width: 100%;
  height: 20%;
  padding: 1rem 0;
  color: hsla( 34, 10%, 95%, 0.6 );
  border: var(--MEDIA_2_PAD_GAP) solid hsla( 34, 10%, 70%, 0.2 );
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.ca_color_pad_label:hover
{
  color: hsla(34, 10%, 95%, 1 );
  border: var(--MEDIA_2_PAD_GAP) solid hsla( 34, 10%, 95%, 1 );
  cursor: pointer;
  transition: all 0.3s ease;
}
.ca_color_pad_label[value="1"]
{
  color: hsla( 34, 10%, 95%, 0.8 );
  border: var(--MEDIA_2_PAD_GAP) solid hsla( 34, 10%, 95%, 0.7 );
}

.ca_color_selector_console
{
  position: absolute;
  top: 0;
  left: var(--M3_PAD_WIDTH);
  transform: scaleX(1);
}
.ca_color_selector_console_swap
{
  transform-origin: left;
  transform: scaleX(0);
}

#ca_media_3_selector_pad_input
{
  position: absolute;
  left: -100vw;
  opacity: 0;
}

#ca_media_3_processor
{
  position: absolute;
  top: 0;
}
#ca_media_3_processor_canvas
{
  margin: 0 auto;
  filter: url(#ca_media_3_filter);
}
