:root
{
  --M3_POINTER_AT:    0;  /* dynamic setting */
  --M3_CONSOLE_Z:    5;
  --M3_SLIDE_WIDTH:   0;  /* dynamic setting */
  --M3_CONSOLE_WIDTH: 0;  /* dynamic setting */
  --M3_SLIDE_RANGE:   256;
  --M3_CONSOLE_EQ:    32;
  --M3_PAD_WIDTH:     10rem;
  --M3_CONSOLE_COLOR: hsl(var(--COLOR_THIRD_HUE), 50%, 75% );
  --M3_FE_MATRIX:
    0 0 R 0 0
    0 0 G 0 0
    0 0 B 0 0
    0 0 0 1 0;
  --M3_FE_MATRIX_RESET:
    1 0 0 0 0
    0 1 0 0 0
    0 0 1 0 0
    0 0 0 1 0;
  --M3_FE_MATRIX_GRAY_VALUE: 1.5;

  --M3_OVERLAY_SPLIT_INSET: 0px;

}

.ca_color_selector
{
  position: relative;
  z-index: var(--M3_CONSOLE_Z);
  top: calc( 50vh - (var( --MEDIA_2_CONTROL_DIM ) / 2 ) );
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transition: opacity 2s ease;
}
.ca_color_selector:hover
{
  opacity: 1;
  transition: opacity 0.3s ease;
}
.ca_media_3_color_selector_mute
{
  transform-origin: left center;
  transform: scaleX(0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.ca_media_processor_canvas.ca_media_3_color_picker
{
  cursor: crosshair;
}

#ca_media_3_selector_pad
{
  position: relative;
  width: var(--M3_PAD_WIDTH);
  height: calc( (var(--M3_SLIDE_RANGE) + ((var(--M3_CONSOLE_EQ)) * 2)) * 1px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR_DEEP_DARK);
  border: 0.5rem solid hsla( 34, 10%, 45%, 1);
  opacity: 1;
}

.ca_media_3_pad_label
{
  position: relative;
  width: 100%;
  height: calc( (100 / 7) * 1%);
  padding: 1rem 0;
  color: hsla( 34, 0%, 95%, 0.8 );
  border: var(--MEDIA_2_PAD_GAP) solid hsla( 34, 10%, 70%, 0.2 );
  font-family: var(--FONT_TITLE);
  font-size: var(--FONT_SIZE_SMALL);
  font-weight: var(--FONT_WEIGHT_HEAVY);
  line-height: var(--FONT_LINE_MEDIUM);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.ca_media_3_pad_label:hover
{
  color: hsla(34, 10%, 95%, 1 );
  border: var(--MEDIA_2_PAD_GAP) solid hsla( 34, 10%, 95%, 1 );
  transition: all 0.3s ease;
}
.ca_media_3_pad_label[value="1"]
{
  color: hsla( 34, 10%, 95%, 0.8 );
  border: var(--MEDIA_2_PAD_GAP) solid hsla( 34, 10%, 95%, 0.7 );
}

/*.ca_color_selector_swap {}*/
.ca_color_selector_swap:hover::after
{
  content: attr(data-index);
	position: absolute;
	left: 0;
  bottom: -2.2rem;
  padding: 0.25rem;
  width: 2.5rem;
  background-color: var(--COLOR_DEEP_DARK);
  color: hsla(34, 10%, 95%, 1 );
  border: 1px solid hsla( 34, 10%, 95%, 1 );
  font-family: var(--FONT_BODY);
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  text-align: center;
  transform: translate3d( calc( var(--M3_POINTER_AT) * 1px ), 0, 0);
}

.ca_color_selector_console
{
  position: absolute;
  top: 0;
  left: var(--M3_PAD_WIDTH);
  opacity: 0;
  pointer-events: none;
}
.ca_color_selector_console_active
{
  cursor: crosshair;
  opacity: 1;
  pointer-events: auto;
}

#ca_media_3_selector_pad_input
{
  position: absolute;
  left: var(--POS_OUTLEFT);
  opacity: 0;
}

.ca_overlay_split_front,
.ca_overlay_split_back
{
  position: absolute;
  top: 0;
  left: 0;
}

.ca_overlay_split_clipping
{
  clip-path: inset(0px var(--M3_OVERLAY_SPLIT_INSET) 0px 0px);
  cursor: col-resize;
}

#ca_media_3_processor /* take over .ca_media_processor */
{
  position: absolute;
  top: 0;
  background-color: white;
}

#ca_media_3_processor_canvas
{
  filter: url(#ca_media_3_filter);
}
