@media screen and (min-width: 25rem) /* 400px */
{
  :root
  {
    --FLEX_DIR_CONTENT: column;
    --FLEX_GROW: 0;
    --TXT_COLS_CAPACITY: 1;
    --COLOR_CONSOLE_HUE_N: 72; /* : 360 / 5 */
  }
}

@media screen and (min-width: 50rem) /* 800px */
{
  :root
  {
    --FLEX_DIR_CONTENT: column;
    --FLEX_GROW: 0;
    --TXT_COLS_CAPACITY: 1;
    --COLOR_CONSOLE_HUE_N: 90; /* 360 / 4 */
  }
}

@media screen and (min-width: 70rem) /* 1120px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 1;
    --TXT_COLS_CAPACITY: 2;
    --COLOR_CONSOLE_HUE_N: 120; /* 360 / 3 */
  }
}

@media screen and (min-width: 110rem) /* 1920px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 1;
    --TXT_COLS_CAPACITY: 3;
    --COLOR_CONSOLE_HUE_N: 180; /* 360 / 2 */
  }
}

@media screen and (min-width: 150rem) /* 2560px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 1;
    --TXT_COLS_CAPACITY: 4;
    --COLOR_CONSOLE_HUE_N: 360;
  }
}

@media screen and (min-width: 230rem) /* 3840px */
{
  :root
  {
    --FLEX_DIR_CONTENT: row;
    --FLEX_GROW: 2;
    --TXT_COLS_CAPACITY: 4;
    --COLOR_CONSOLE_HUE_N: 360;
  }
}

/* 1rem(16px) @ 40rem(640px) increasing to 2rem(32px) @ 180rem(2880px) */
@media screen and (min-width: 40rem)
{
  :root
  {
    --FONT_SIZE_MEDIUM: calc( 1rem + ((1vw - 0.4rem) * 0.625) );    /* Where: * 0.7143 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media screen and (min-width: 180rem)
{
  :root
  {
    --FONT_SIZE_MEDIUM: 1.5rem;
  }
}
