:root
{
  --SCROLL_NAV_RATIO: 14 / 18; /* 14/18 = SVG width/height */
  --SCROLL_NAV_WIDTH: 8vw;     /* proportional to viewport width */
  --SCROLL_STOP_FILL:  hsla(260, 30%, 80%, 1);
  --SCROLL_STOP_EMPTY: hsla( 34, 80%, 90%, 1);
}

.ca_scroll_area
{
/* ============== CUSTOMIZE */
  padding: 1rem calc( var(--SCROLL_NAV_WIDTH) * var(--SCROLL_NAV_RATIO) );
/* ==============  */
}

.ca_scroll_nav
{
  --combo-width: var(--SCROLL_NAV_WIDTH);
  --combo-height: calc( var(--combo-width) * var(--SCROLL_NAV_RATIO) );
  position: fixed;
  z-index: var(--SCROLL_Z);
  top:   calc( (100vh / 2) - (var(--combo-height) / 2) ) ;
  right: calc( var(--combo-height) * -0.05 );  /* -0.05: customize  */
	width:  var(--combo-width);
	height: var(--combo-height);
  transform-origin: center;
  transform: rotate( 0.25turn );
  opacity: var(--SCROLLBAR_OPACITY);
  transition: opacity 3s ease-in;
}
.ca_scroll_nav:hover
{
  opacity: 1.0;
  transition: opacity 0.5s ease-in;
}

.ca_scroll_arrow_up,
.ca_scroll_arrow_down
{
	stroke: hsla(34, 80%, 90%, 1.0);
	stroke-width: 0.1;
}
.ca_scroll_arrow_up
{
  fill: url(#up_gradient);
  cursor: n-resize;
}
.ca_scroll_arrow_down
{
  fill: url(#down_gradient);
  cursor: s-resize;
}

.nav_wheel
{
  fill:   hsla(34, 20%, 70%, 0.3);
	stroke: hsla(34, 80%, 90%, 1.0);
	stroke-width: 0.05;
}
