.ca_list_items
{
  margin: 0;
  padding: var(--ITEMS_ROW_GAP);
  display: grid;
  grid-template-columns: var(--ITEMS_COLS);
  grid-auto-rows: var(--ITEMS_ROW_HEIGHT);
  grid-gap: var(--ITEMS_COL_GAP);
  grid-auto-flow: dense;
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}

.ca_list_items_img
{
  width:  100%;
  height: 100%; /* IMPORTANT */
  object-fit: cover;
  object-position: center center;
  background-image: var(--GRADIENT_THIRD_DARK);
  cursor: pointer;
}

.ca_list_items:hover .ca_list_items_img:hover
{
  border: var(--BORDER_FRAME_GOLD);
}

.ca_wide_title,
.ca_list_items_img_title
{
  position: absolute;
  top:     0;
  left:    0;
  right:   0;
  bottom:  0;
  margin:  0;
  padding: 3vmin 4vmin 1vmin 4vmin;
  color:           var(--COLOR_THIRD_LIGHT);
  font-size:       calc(var(--FONT_SIZE_MEDIUM) * 1.2 );
  font-weight:     var(--FONT_WEIGHT_MEDIUM);
  line-height:     var(--FONT_LINE_MEDIUM);
  list-style-type: none;
  text-transform:  uppercase;
  overflow:        hidden;
}
.ca_wide_title
{
  font-size:   calc(var(--FONT_SIZE_MEDIUM) * 1.4 );
  font-weight: var(--FONT_WEIGHT_XLIGHT);
}

.ca_title_subtitle
{
  font-size:   var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_XLIGHT);
}

.ca_perspective_opener
{
  perspective: 100%;
  perspective-origin: center top;
}

.ca_perspective_opened
{
  background: var(--LIST_ITEMS_IMG_GRADIENT), var(--list_items_bg);
  background-size: cover;  
  width: 100%;
  height: 100%;
  transform-origin: center top;
  transform: rotate(0);
  transition: 0.5s; 
}
.ca_perspective_opener:hover .ca_perspective_opened
{
  transform: rotateX(90deg);
  transition:0.5s;
}

.ca_list_items_img_issmall
{
  position: relative;
  height: 100%;
  padding: 0;
  box-shadow: var(--BOX_SHADOW_DOWN);
  list-style-type: none;
  transform:  scale(0.95);
  transition: transform 0.3s ease-in;
}
.ca_list_items_img_issmall:hover
{
  box-shadow: var(--BOX_SHADOW_UP);
  transform:  scale(1);
  transition: transform 0.3s ease-in;
}

/*
.ca_list_items_img_islarge
{
  grid-row: span 2;
  grid-column: span 2;
}
*/

/* LEGEND */
.ca_list_items_legend
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 1.5vmin 4vmin 1vmin 4vmin;
  display: flex;
  flex-direction: column;
  border-left: var(--BORDER_FRAME_GOLD_TEXT);
  background-image: var(--GRADIENT_THIRD_DARK);
  color:            var(--COLOR_MAXLIGHT);
  font-size:   var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_XLIGHT);
  line-height: var(--FONT_SIZE_LARGE);
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}

.ca_list_items_legend_title,
.ca_list_items_legend_author,
.ca_list_items_legend_abstract
{
  margin: 0;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}
.ca_list_items_legend_title,
.ca_list_items_legend_abstract
{
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
}
.ca_list_items_legend_author
{
  padding: 2rem 0.5rem 0.5rem 0.5rem;
}
.ca_list_items_legend_title
{
  text-transform: uppercase;
}

.ca_list_items_legend_title
{
  transform: translateX( -30vw );
}
.ca_list_items_legend_abstract
{
  transform: translateX( 30vw );
  transition-delay: 0.2s;
}
.ca_list_items_legend_author
{
  transform: translateY( 20vh );
}

.ca_list_items_legend:hover .ca_list_items_legend_title,
.ca_list_items_legend:hover .ca_list_items_legend_abstract
{
  transform: translateX( 0 );
}
.ca_list_items_legend:hover .ca_list_items_legend_author
{
  transform: translateY( 0 );
}

.ca_list_items_legend_abstract
{
  font-family: var(--FONT_BODY);
  font-size:   var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_XLIGHT);
}

.ca_post_header
{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;
  justify-items: start;
  background-image: var(--GRADIENT_TTTLE_MEDIUM);
}

.ca_post_title,
.ca_post_subtitle,
.ca_post_signature
{
  align-self: end;
  margin: 0;
  overflow: hidden;
  color: var(--COLOR_MAXLIGHT);
  list-style-type: none;
  line-height: var(--FONT_LINE_MEDIUM);
}

.ca_post_subtitle,
.ca_post_title
{
  padding: 2rem 1rem 1rem var(--TEXT_LEFT_PADDING);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  text-transform: uppercase;
}
.ca_post_title
{
  font-size: var(--FONT_SIZE_XLARGE);
}

.ca_post_subtitle
{
  font-size: var(--FONT_SIZE_MEDIUM);
}

.ca_post_signature
{
  margin: 2rem 1rem 1rem 1rem;
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  border-style: solid;
  border-image-source: var(--SUBTITLE_GRADIENT);
  border-image-slice: 1;
  border-image-width: 0.5px 0 1px 0;
}
