{% if annotations %}
<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false,
    "showHighlights": "whenSidebarOpen",
    "enableExperimentalNewNoteButton": true,
    "theme": "clean"
  }
</script>
{% endif %}
<script>
{% if annotations %}
const Annotations =
{
  isOn:     false,
  setup: ( ) =>
  {
    if ( this.isOn ) return
    //xx document.getElementById( 'ca_enable_annotations_label' ).classList.toggle( 'ca_inputAnnotation' )
    loadJS( "https://hypothes.is/embed.js" )
    this.isOn = true
  }
}
{% endif %}
{% if settings.develop === false %}
//: blocking!!!
//window.onload = () => { loadJS( "https://plausible.io/js/plausible.js" ) }
{% endif %}
</script>
