{% set DEBUG_ON = settings.DEBUG_ON %}
{% set SITE_URL = settings.DEBUG_ON %}
{% if settings.DEBUG_ON %}
{% else %}
{% endif %}


<!doctype html>
<html lang="fr">
<head>{# HEAD #}
{% block head %}{% include "partials/_block_head_.njk" %}{% endblock %}
{% block styles %}{% include "partials/_block_styles_.njk" %}{% endblock %}
{% block specific_styles %}{% endblock %}
{% include "partials/_root_vars_.njk" %}
{% if settings.DEBUG_ON === 'false' %}{% include "partials/_block_script_load_.njk" %}{% endif %}
{% if settings.DEBUG_ON === 'true' %}{% include "partials/_LOG_.njk" %}{% endif %}
</head>
<body>{# BODY #}
<div id="ca_page" class="ca_page">
  <div id="ca_content" class="ca_content">
  {% block menu %}{% include "menu/_list_.njk" %}{% endblock %}
  {% block content %}{{ layoutContent | safe }}{% endblock %}
  </div>
  {% block scroll %}{% include "partials/_block_scrollbar_.njk" %}{% endblock %}
</div>
{% block scripts %}{% include "partials/_block_scripts_.njk" %}{% endblock %}
{% block specific_scripts %}{% endblock %}
{% if settings.DEBUG_ON === 'false' %}{% include "partials/_block_comments_.njk" %}{% endif %}
</body>
</html>
