{# @id, @author, @date #}
<ul class="ca_post_header">
{% if not isUser %}
{% set work = works[ id ] %}
{% set artist = artists[ work.artist ] %}
{% set collector = collectors[ work.collector ] %}

  <li class="ca_post_title">{{ artist.forename }} {{ artist.name }}{% if artist.nickname %}, {{ artist.nickname }}{% endif %}</li>
  <li class="ca_post_signature">{{ @date }}</li>
  <li class="ca_post_subtitle">{{ work.subject }}</li>
  {% include "partials/_post_signature_.njk" %}
  <li class="ca_post_subtitle">{{ collector.location }} - {{ collector.place }}, {{ collector.country }}</li>
{% else %}
  <li id="ca_post_id_user" class="ca_post_title">_id_s_</li>
  <li class="ca_post_signature"></li>
  <li id="ca_post_file_user" class="ca_post_subtitle">_file_s_</li>
  <li class="ca_post_signature"></li>
  <li id="ca_post_tag_user" class="ca_post_subtitle">_tag_s_</li>
{% endif %}
</ul>
