{# src #}
<div id="{{ work.id }}" class="ca_list_imgs_issmall" onclick="this.classList.toggle('ca_list_imgs_islarge')">
  <div class="ca_list_imgs_frame" style="{{ UI.framings[work.framing] }}">
    <img id="ca_gallery_img" class="ca_list_imgs_img ca_frame" src="{{ @SITE_URL }}{{ settings.distDirs.images }}{{ src }}{{ @srcType }}"
         data-src-width="{{ @srcWidth }}" data-src-height="{{ @srcHeight }}" loading="eager"/>
  </div>
  {% if not isUser %}
  <ul class="ca_list_imgs_legend">
    <li class="ca_list_imgs_legend_title">
      <a href="{{ @SITE_URL + settings.tagDirs.works + settings.tagDirs.items + work.id + '.html' }}" class="ca_nodeco">{{ work.subject }}</a>
    </li>
    <li class="ca_list_imgs_legend_author">
      <a href="{{ @SITE_URL + settings.tagDirs.artists + settings.tagDirs.items + artist.id + '.html' }}" class="ca_nodeco">{{ artist.forename }} {{ artist.name }}</a>
    </li>
    <li class="ca_list_imgs_legend_collector">
      <a href="{{ @SITE_URL + settings.tagDirs.collectors + settings.tagDirs.items + collectors[ work.collector ].id + '.html' }}" class="ca_nodeco">{{ collectors[ work.collector ].location }}</a>
    </li>
    <li class="ca_list_imgs_legend_collector">{{ collectors[ work.collector ].place }}</li>
  </ul>
  {% else %}
  <ul class="ca_list_imgs_legend">
    <li id="ca_list_imgs_legend_file_user" class="ca_list_imgs_legend_title">_file_s_</li>
    <li id="ca_list_imgs_legend_id_user" class="ca_list_imgs_legend_author">_id_s_</li>
    <li id="ca_list_imgs_legend_tag_user" class="ca_list_imgs_legend_collector">_tag_s_</li>
  </ul>
  {% endif %}
</div>
