{# @imgURL, @ata #}
{# LEVEL_3 #}
<div id="ca_{{@ata}}_processor_overlay">
  <div id="ca_{{@ata}}_processor_frame" onclick="this.classList.toggle('ca_media_2_processor_atmax')">
    <img  id="ca_{{@ata}}_img" src="{{ @imgURL }}{{ settings.media_min }}{{ @srcType }}" class="ca_media_processor_img"
          data-src-width="{{ @srcWidth }}" data-src-height="{{ @srcHeight }}" loading="auto">
    <svg id="ca_{{@ata}}_processor_lines" viewBox="0 0 0 0"></svg>
  </div>
</div>
