<script src="{{ @SITE_URL }}static/scripts/svg.min.js"></script>
{% if works[ id ].frames_a %}
<script>
const M1_frames_a = {{ works[ id ].frames_a }}
const M1_anim_o = {{ works[ id ].frames_o }}
M1_anim_o.direction = '{{ works[ id ].frames_o_direction }}'
M1_anim_o.fill      = '{{ works[ id ].frames_o_fill }}'
M1_anim_o.composite = 'replace'
</script>
{% endif %}
<script src="{{ @SITE_URL }}static/scripts/media.min.js"></script>
