{# LEVEL_3 #}

<div id="ca_{{@ata}}_control_selector" class="ca_{{@ata}}_control">
  <div id="ca_{{@ata}}_control_pad" class="ca_{{@ata}}_control_pad">
    <div id="ca_{{@ata}}_control_rotate_cw"
      class="ca_media_control_key ca_media_control_lite_key">
      {% include "static/icons/rotate_cw.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_lines_v"
      class="ca_media_control_key">
      {% include "static/icons/lines_v.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_rotate_cw_r"
      class="ca_media_control_key ca_media_control_lite_key">
      {% include "static/icons/rotate_cw_r.svg" %}
    </div>

    <div id="ca_{{@ata}}_control_lines_lr"
      class="ca_media_control_key">
      {% include "static/icons/lines_lr.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_undo"
      class="ca_media_control_key">
      {% include "static/icons/crux.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_lines_rl"
      class="ca_media_control_key">
      {% include "static/icons/lines_rl.svg" %}
    </div>

    <div id="ca_{{@ata}}_control_flip_cw"
      class="ca_media_control_key ca_media_control_lite_key">
      {% include "static/icons/flip_cw.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_lines_hz"
      class="ca_media_control_key">
      {% include "static/icons/lines_hz.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_flip_cw_r"
      class="ca_media_control_key ca_media_control_lite_key">
      {% include "static/icons/flip_cw_r.svg" %}
    </div>
  </div>
</div>
