{# @@ata #}
<div id="ca_{{@ata}}_control" class="ca_media_control">{# LEVEL_2 #}
  {% include 'work/_' + @ata + '_control_.njk' %}{# LEVEL_3 #}
</div>
<div id="ca_{{@ata}}_processor" class="ca_media_processor">
  {% include 'work/_' + @ata + '_processor_.njk' %}{# LEVEL_3 #}
</div>
