{# @ata #}
{# LEVEL_3 #}
<div id="ca_{{@ata}}_control_selector" class="ca_{{@ata}}_control">
  <div id="ca_{{@ata}}_control_pad" class="ca_{{@ata}}_control_pad">
    <div id="ca_{{@ata}}_control_play_pause" class="ca_media_control_key">
      {% include "static/icons/play_pause.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_drag_stop" class="ca_media_control_key">
      {% include "static/icons/drag_stop.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_forward" class="ca_media_control_key">
      {% include "static/icons/rewind.svg" %}
    </div>
    <div id="ca_{{@ata}}_control_backward" class="ca_media_control_key">
      {% include "static/icons/forward.svg" %}
    </div>
  </div>
</div>
