{# LEVEL_3 #}
{# @imgURL, @ata #}
{# LEVEL_3 #}
<div id="ca_media_4_processor_satur"
  class="ca_media_4_processor_satur">
  <svg
    id="ca_media_4_processor_satID"
    class="ca_media_4_processor_SVG_saturation"
    viewBox="-100 -100 200 200"
    style="transform: rotate(-90deg)">
  </svg>
</div>
<div id="ca_media_4_processor_lumen"
  class="ca_media_4_processor_lumen">
  <svg
    id="ca_media_4_processor_lumID"
    class="ca_media_4_processor_SVG_lumen"
    viewBox="-100 -100 200 200"
    style="transform: rotate(-90deg)">
  </svg>
</div>
<dl   id="ca_media_4_processor_trace" class="ca_media_4_processor_trace ca_color_trace_show">
  <dt id="ca_media_4_processor_trace_H">H</dt>
  <dd id="ca_media_4_processor_trace_H_v">000</dd>
  <dt id="ca_media_4_processor_trace_P">%</dt>
  <dd id="ca_media_4_processor_trace_P_v">0.00</dd>
</dl>
