{% extends "base.njk" %}

{% block styles_specifics %}{% include "work/blocks/_styles_.njk" %}{% endblock %}

{% block content %}
{% set @is_open   = 'ca_is_open' %}
{% set @dir       = itemDir %}
{% set @id        = id %}
{% set @author    = author %}
{% set @date      = hdates[0] %}
{% set @imgURL    = @SITE_URL + settings.distDirs.images + works[ id ].sources[0] %}
{% set @srcType   = works[ id ].srcType %}
{% set @srcWidth  = works[ id ].srcWidth %}
{% set @srcHeight = works[ id ].srcHeight %}
{% set @inimgDir  = 'partials' %}

{% block text %}
{% set @asList = '' %}
{% include "partials/blocks/_area_text_.njk" %}
{% endblock %}
{% block gallery %}{% include "partials/blocks/_area_gallery_.njk" %}{% endblock %}
{% block media %}{% include "work/blocks/_media_.njk" %}{% endblock %}

{% endblock %}

{% block scripts_specifics %}
{% if isUser %}{% include "partials/blocks/_user_.njk" %}{% endif %}
{% include "work/_media_scripts_.njk" %}
{% endblock %}
