{% if comments %}
<script type="application/json" class="js-hypothesis-config">
  {
    "openSidebar": false,
    "showHighlights": "whenSidebarOpen",
    "enableExperimentalNewNoteButton": true,
    "theme": "clean"
  }
</script>
<script>window.onload = () => { loadJS( "https://hypothes.is/embed.js" ) }</script>
{% endif %}
