{% set @gallery = 2 %}
{% set @at = 0 %}
{% for @ata in areas %}
  {% if @at > @gallery %}
    <section id="ca_area_section_{{@ata}}" class="ca_area_region">
      <input id="ca_select_area_{{@ata}}" class="ca_area_switcher" value="ca_select_area_{{@ata}}" name="area" type="radio">
      <div id="ca_area_{{@ata}}" class="ca_area_{{@ata}} ca_area">{# LEVEL_0 #}
        <label for="ca_select_area_{{@ata}}" class="ca_area_selector" onclick="AreaSwitch( this.getAttribute( 'for') )">
          {% include "static/icons/menu.svg" %}
        </label>
        {% include "work/_media_.njk" %}{# LEVEL_1 #}
      </div>
    </section>
  {% endif %}
  {% set @at = @at + 1 %}
{% endfor %}
