---js
{
pagination: {
    data: 'collections.biblio',
    size: 8,
    alias: 'biblio',
  },
permalink: 'biblio/list_{{ pagination.pageNumber }}.html'
}
---
{% extends "base.njk" %}

{% block content %}
{% set @items = biblio %}
{% set @foldTitle = 'Bibibliographie' %}
{% include "partials/_list_.njk" %}
{% endblock %}
