{% set @gallery = 2 %}
{% set @at = 0 %}
{% for @ata in areas %}
  {% if @at > @gallery %}
    <input id="ca_select_area_{{@ata}}" class="ca_area_switcher" value="ca_select_area_{{@ata}}" name="area" type="radio">
    <div id="ca_area_{{@ata}}" class="ca_area_{{@ata}} ca_area">{# LEVEL_0 #}
      <label for="ca_select_area_{{@ata}}" class="ca_area_selector" onclick="AreaInput( this.getAttribute( 'for') )">
        {% include "partials/_svg_menu_.njk" %}
      </label>
      {% include "work/_media_.njk" %}{# LEVEL_1 #}
    </div>
  {% endif %}
  {% set @at = @at + 1 %}
{% endfor %}
