{% extends "base.njk" %}

{% block specific_styles %}{% include "work/_block_styles_.njk" %}{% endblock %}

{% block content %}
{% set @is_open   = 'ca_is_open' %}
{% set @dir       = itemDir %}
{% set @id        = id %}
{% set @author    = author %}
{% set @date      = hdates[0] %}
{% set @imgURL    = settings.siteUrl + settings.distDirs.images + works[ id ].sources[0] %}
{% set @srcType   = works[ id ].srcType %}
{% set @srcWidth  = works[ id ].srcWidth %}
{% set @srcHeight = works[ id ].srcHeight %}
{% set @inimgDir  = 'partials' %}
{% include "partials/_block_text_.njk" %}
{% include "partials/_block_gallery_.njk" %}
{% include "work/_block_media_.njk" %}
{% endblock %}

{% block specific_scripts %}{% include "work/_media_scripts_.njk" %}{% endblock %}
