{# LEVEL_3 #}
{# @imgURL, @ata #}
{# LEVEL_3 #}
<div id="ca_media_4_processor_satur"
  class="ca_media_4_processor_satur ca_media_4_processor_atmin"
  onclick="classList.toggle('ca_media_4_processor_atmin');">
  <svg
    id="ca_media_4_processor_satID"
    class="ca_media_4_processor_SVG_saturation"
    viewBox="-100 -100 200 200"
    style="transform: rotate(-90deg)">
  </svg>
</div>
<div id="ca_media_4_processor_lumen"
  class="ca_media_4_processor_lumen ca_media_4_processor_atmin"
  onclick="classList.toggle('ca_media_4_processor_atmin');">
  <svg
    id="ca_media_4_processor_lumID"
    class="ca_media_4_processor_SVG_lumen"
    viewBox="-100 -100 200 200"
    style="transform: rotate(-90deg)">
  </svg>
</div>
