:root
{
  --MEDIA_IMG_DIM_MAX: 8192;
  --MEDIA_PROCESSOR_ATMIN: 1;
  --MEDIA_PROCESSOR_BORDER_WIDTH: 0.25vw;
}

.ca_media_processor,
.ca_media_control
{
  width: var(--VIEW_FULL_WIDTH);
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}
.ca_media_processor
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ca_media_processor_canvas
{
  max-width: var(--AREA_WIDTH);
  background-color: var(--COLOR_NEUTRAL_MAXDARK);
  /*border: 1px solid var(--COLOR_NEUTRAL_MEDIUM_LIGHT);*/
  /*cursor: zoom-out;*/
  /*transition: all .9s ease;*/
}
/*
.ca_media_processor_canvas.ca_media_canvas_atmin
{
  cursor: zoom-in;
  transform-origin:  top center;
  transform: scale( var(--MEDIA_PROCESSOR_ATMIN) * 0.8 );
  transition: all .9s ease;
}
*/