<div class="ca_gallery_imgs_list">
    {% set artist = artists[ id ] %}
    {% for atw in artist.worksId %}
      {% set work = works[ atw ] %}
      {% set @srcWidth  = work.srcWidth %}
      {% set @srcHeight = work.srcHeight %}
      {% for src in work.sources %}
        {% set @srcType = work.srcType %}
        {% include "work/_img_legend_.njk" %}
      {% endfor %}
    {% endfor %}
</div>
