{# @items #}
<ul class="ca_list_items">
  {% for item in @items %}
    <li class="ca_list_items_img_issmall ca_flipcard_container">
      <div class="ca_flipcard">
        {% if item.data.linkto %}{# === TEST LINKTO FIRST ==== #}
        <a href="{{ item.data.linkto }}" target="_blank" rel="noreferrer" class="ca_nodeco">
        {% elif item.data.permalink %}
        <a href="{{ @SITE_URL + item.data.permalink }}" class="ca_nodeco">
        {% endif %}
        {% include "partials/_in_legend_.njk" %}
        </a>
      </div>
    </li>
  {% endfor %}
</ul>
