<form id="ca_form_is_search" class="ca_form_inputbox">
  <label id="ca_form_is_search_submit" class="ca_form_inputbox_label_button">Rechercher</label>
  <input id="ca_form_input_search_needle" class="ca_form_inputbox_input_text" type="text" placeholder=" Mots recherchés...">
  <label id="ca_form_is_search_tags" class="ca_form_inputbox_label_button">
    <span id="ca_form_input_search_tag" class="ca_form_inputbox_input_text">{{ settings.search.titles[0] }}</span>
  </label>
  <div id="ca_form_is_search_history" class="ca_form_optbox_icons">
    <span id="ca_form_is_search_previous">{% include "static/icons/previous-circle.svg" %}</span>
    <span id="ca_form_is_search_reset">{% include "static/icons/erase.svg" %}</span>
    <span id="ca_form_is_search_next">{% include "static/icons/next-circle.svg" %}</span>
  </div>
</form>
