<template id="ca_user_collection_description_template">
  <dl id="ca_user_collection_description_item" class="ca_user_collection_description">
    <dt class="ca_user_gallery_descriptor">
      <input id="ca_user_gallery_descriptor_input" class="" type="button">
      <label for="ca_user_gallery_descriptor_input"
             id="ca_user_gallery_descriptor_label" class="ca_inputbox_label_solo"
             title="Sélectionner toute la collection"></label>
    </dt>
    <dd class="ca_user_gallery_descriptor"></dd>
    <dd id="ca_user_collection_add" class="ca_user_gallery_descriptor">
      <label id="ca_user_collection_add_label" class="ca_inputbox_label_solo_inverse"
             title="Ajouter une image à la collection">
        {% include "static/icons/upload.svg" %}
      </label>
    </dd>
  </dl>
</template>

<template id="ca_user_gallery_description_list_template">
  <dl id="ca_user_gallery_description_item" class="ca_user_collection_description">
    <dt class="ca_user_gallery_descriptor">
      <input id="ca_user_gallery_description_item_input" class="" type="button">
      <label for="ca_user_gallery_description_item_input" class="ca_inputbox_label_solo"
             title="Sélectionner cette galerie"></label>
    </dt>
    <dd class="ca_user_gallery_descriptor"></dd>
    <dd class="ca_user_gallery_descriptor" title="Date de création"></dd>
  </dl>
</template>

<template id="ca_user_gallery_description_template">
<li id="ca_user_gallery_list_item" class="ca_list_imgs_issmall" data-key="0" data-file="file_s">
  <div class="ca_list_imgs_frame" style="--FRAMING_WIDTH:28;--FRAMING_SCALE_X:1.03;--FRAMING_SCALE_Y:1.03;">
    <img class="ca_list_imgs_img ca_frame" src="src_s"
         data-src-width="0" data-src-height="0" loading="auto"/>
  </div>
  <div id="ca_user_gallery_list_item_trigger">
    {% include "static/icons/erase.svg" %}
  </div>
  <ul class="ca_list_imgs_legend">
    <li class="ca_list_imgs_legend_title">file_s</li>
    <li class="ca_list_imgs_legend_author">id_s</li>
    <li class="ca_list_imgs_legend_collector">tag_s</li>
  </ul>
</li>
</template>
