<template id="ca_user_collection_item_template">
  <dl id="ca_user_gallery_description_item" class="ca_user_gallery_description">
    <dt class="ca_user_gallery_descriptor">
      <input id="ca_user_gallery_description_item_input" class="" type="button">
      <label for="ca_user_gallery_description_item_input" class="ca_inputbox_label_solo"
             title="Sélectionner cette galerie"></label>
    </dt>
    <dd class="ca_user_gallery_descriptor">images</dd>
    <dd class="ca_user_gallery_descriptor">key_as_date</dd>
  </dl>
</template>
