<form id="ca_form_is_user_file" class="ca_form_inputbox">

  <img id="ca_form_is_user_file_img_thumb"/>
  <label for="ca_form_is_user_file_input_file_s"
         id="ca_form_is_user_file_setup_id_s" class="ca_form_inputbox_label ca_form_inputbox_label_button"
         title="Sélectionnez un fichier image (JPEG)">Sélectionnez un fichier image (JPEG)</label>
  <input type="file" accept="image/jpeg"
    id="ca_form_is_user_file_input_file_s" class="ca_form_filebox_input"
    onchange="userImgToDataUrl( this )">


  <label for="ca_form_is_user_file_setup_id_s" class="ca_form_inputbox_label"
         title="Pour identifier l'image par un nom ou descriptif">Descriptif</label>
  <input type="text"
         id="ca_form_is_user_file_setup_id_s" class="ca_form_inputbox_input_text"placeholder="Descriptif de l'image...">

  <label for="ca_form_is_user_file_setup_tag_s" class="ca_form_inputbox_label"
         title="Pour classer l'image dans une galerie nommée">Galerie</label>
  <input type="text"
         id="ca_form_is_user_file_setup_tag_s" class="ca_form_inputbox_input_text" placeholder="Nom de la galerie...">
</form>
