<form id="ca_form_is_user_file_update" class="ca_form_inputbox">
  <label for="ca_form_is_user_file_update_id_s" class="ca_form_inputbox_label"
         title="Pour identifier l'image par un nom ou descriptif">Descriptif</label>
  <input  type="text" id="ca_form_is_user_file_update_id_s" class="ca_form_inputbox_input_text"
         placeholder=" Descriptif de l'image..." data-key="0">
  <label for="ca_form_is_user_file_update_tag_s" class="ca_form_inputbox_label"
         title="Pour classer l'image dans une galerie nommée">Galerie</label>
  <input  type="text" id="ca_form_is_user_file_update_tag_s" class="ca_form_inputbox_input_text"
         placeholder=" Nom de la galerie..." data-key="0">
</form>
