/* ::::::::::::::::
:root
{
  --area_section_offset: 8;
  --area_section_delta:  32;
}
*/
/* :::::: BACKGROUND :::::: */
.ca_menu_line
{
  position: absolute;
  top:    20vh;
  left:   20vw;
  width:  60vw;
  height: 60vh;
  border-style: solid;
  border-image-source: var(--GRADIENT_DARK);
  border-image-slice: 1;
  border-image-width: 2vmin;
}

.ca_menu_logo
{
  position: absolute;
  top:  60vh;
  left: 60vw;
}

.ca_menu_logo_text
{
  font-family: var(--FONT_LOGO);
  font-size: 2rem;
  font-weight: 300;
}

/* :::::: COLS :::::: */
#ca_area_section_menu,
#ca_area_section_gallery,
#ca_area_section_media_1
{
  --area_X: 5vw;
}

#ca_area_section_text,
#ca_area_section_media_5,
#ca_area_section_media_3
{
  --area_X: 40vw;
}

#ca_area_section_search,
#ca_area_section_media_2,
#ca_area_section_media_4
{
  --area_X: 75vw;
}

/* :::::: ROWS :::::: */
#ca_area_section_menu,
#ca_area_section_text,
#ca_area_section_search
{
  --area_Y: 8vh;
}

#ca_area_section_gallery,
#ca_area_section_media_5,
#ca_area_section_media_2
{
  --area_Y: 38vh;
}

#ca_area_section_media_1,
#ca_area_section_media_3,
#ca_area_section_media_4
{
  --area_Y: 72vh;
}
