:root
{
  --CONTAINER_WIDTH:   100vw;

  --GRID_WIDTH:        1000;
  --GRID_COLUMN_WIDTH: 80;
  --GRID_COLUMNS:      10;
  --GRID_GAPS:         calc(var(--GRID_COLUMNS) - 1);
  
  --COLUMN_PROPORTION: calc(var(--GRID_COLUMN_WIDTH) / var(--GRID_WIDTH));    /* 80/1000 = 0.08 */
  --GAP_PROPORTION:    calc( (1 - (var(--GRID_COLUMNS) * var(--COLUMN_PROPORTION))) / var(--GRID_GAPS));    /* (1 - (10*0.08)) / 9 = 0.0222 */

  --COLUMN_UNIT: calc(var(--COLUMN_PROPORTION) * var(--CONTAINER_WIDTH)); /* 8 vw */
  --GAP_UNIT:    calc(var(--GAP_PROPORTION) * var(--CONTAINER_WIDTH));    /* 2.222 vw */
  --GRID_UNIT:   calc(var(--COLUMN_UNIT) + var(--GAP_UNIT));              /* 10.222 vw */

  --GRID_0: 0;
  --GRID_1: var(--GRID_UNIT);
  --GRID_2: cacl( var(--GRID_UNIT) * 2 );
  --GRID_3: cacl( var(--GRID_UNIT) * 3 );
  --GRID_4: cacl( var(--GRID_UNIT) * 4 );
  --GRID_5: cacl( var(--GRID_UNIT) * 5 );
  --GRID_6: cacl( var(--GRID_UNIT) * 6 );
  --GRID_7: cacl( var(--GRID_UNIT) * 7 );
  --GRID_8: cacl( var(--GRID_UNIT) * 8 );
}

/*
@media (min_width: 1000px)
{
  :root
  {
    --CONTAINER_WIDTH: 90vw;
  }
}

@media (min_width: 1400px)
{
  :root
  {
    --CONTAINER_WIDTH: 1200px;
  }
}
*/