/* ::::::::::::::::::::::::::::::::::::::
Get rid of native scrollbar */
body::-webkit-scrollbar  /* Chrome */
{
  width: 0;
}
html
{
  scrollbar-width: none; /* Firefox */
}
/* :::::::::::::::::::::::::::::::::::::: */
html
{
  background-image: var(--GRADIENT_MAXDARK);
}
*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  padding: 0;
  min-width:  var(--VIEW_FULL_WIDTH);
  min-height: var(--VIEW_FULL_HEIGHT);
  background-color: var(--BODY_BGCOLOR);
}

h1,
h2,
h3,
h4,
h5,
h6,
li
{
  font-family: var(--FONT_TITLE);
}

h1
{
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
}

h2,
h3,
h4,
li
{
  font-weight: var(--FONT_WEIGHT_MEDIUM);
}

li
{
  list-style-type: none;
}

dl,
dt,
dd
{
  margin-block-start:  0;
  margin-block-end:    0;
  margin-inline-start: 0;
  margin-inline-end:   0;
}

p
{
  font-family: var(--FONT_BODY);
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_LINE_MEDIUM);
}

mark
{
  background-color: inherit;
  color: inherit;
}
address
{
  font-style: normal;
  cursor: pointer;
}

dialog
{
  padding: 0;
  background-color: transparent;
}

img
{
  max-width: 100%;
  height: auto;
}

/* FOOTNOTES */
footer ol
{
  margin: 0;
  padding-left: 1rem;
}

footer ol li
{
  padding: var(--PAD_2) var(--PAD_1);
  break-inside: avoid;
}

footer :target
{
  border-left:   var(--BORDER_LINK_THIN_TRANSPARENT);
  border-right:  var(--BORDER_LINK_THIN_TRANSPARENT);
  border-top:    var(--BORDER_LINK_THIN_MEDIUM_LIGHT);
  border-bottom: var(--BORDER_LINK_THIN_MEDIUM_LIGHT);
  background-color: var(--COLOR_MAXLIGHT);
  color: var(--COLOR_MAXDARK);
}

/* LINKS */
a,
a:not(.ca_nodeco),
a:not(.ca_nodeco):visited,
.ca_nodeco   /* used for links only */
{
  text-decoration: none;
  color: inherit;
}

a:not(.ca_nodeco)
{
  padding: 0 /*calc( var(--PAD_1) * 0.5 )*/;
  background-image: linear-gradient(var(--COLOR_MEDIUM_LIGHT), var(--COLOR_MEDIUM_LIGHT));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.2rem;
  transition: background-size .2s;
}
/*a:not(.ca_back_to_text)::after,*/
a:not(.ca_nodeco)::after
{
  content: '⤴';
  /*
  font-size: calc( var(--FONT_SIZE_MEDIUM) * 1 );
  line-height: var(--FONT_LINE_MEDIUM);
  */
  opacity: 0.3;
}
a:not(.ca_nodeco):hover::after
{
  opacity: 0.8;
}


a:not(.ca_nodeco):visited::after
{
  opacity: 0.1;
  /*
  border-left:  var(--BORDER_LINK_THIN_MEDIUM_LIGHT);
  border-right: var(--BORDER_LINK_THIN_MEDIUM_LIGHT);
  */
}

a:not(.ca_nodeco):hover
{
  background-size: 100% 0.2rem;
}
