:root
{
  --MEDIA_IMG_DIM_MAX: 8192;
}

.ca_media_processor,
.ca_media_control
{
  width: var(--VIEW_FULL_WIDTH);
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}
.ca_media_control
{
  position: relative;
  top:   4px;
  right: 4px;
}

.ca_media_control_lite_key
{
  background-color: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 30%, 1 );
}

.ca_media_control_key
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 0.6 );
  border: 3px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 30%, 0.2 );
}
.ca_media_control_key:hover
{
  color: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 1 );
  border: 3px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 1 );
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.ca_media_control_key_icon,
.ca_media_control_key_icon_fill
{
  stroke: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 1 );
  stroke-width: 1;
  stroke-linecap: square;
  stroke-linejoin: arcs;
}
.ca_media_control_key_icon
{
  fill: none;
}
.ca_media_control_key_icon_fill
{
  fill: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 85%, 1 );
}
.ca_media_control_key_icon:hover,
.ca_media_control_key_icon_fill:hover
{
  transform: scale( 0.9 );
  transition: transform 0.3s ease;
}

.ca_media_processor
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ca_media_processor_overlay
{
  position: absolute;
  top:  0;
  left: 0;
  width:  var(--AREA_WIDTH);
  height: var(--AREA_HEIGHT);
}

.ca_media_processor_canvas
{
  max-width: var(--AREA_WIDTH);
  background-color: var(--COLOR_NEUTRAL_MAXDARK);
}
