:root
{
  --M3_SELECTOR_OPACITY: 0.2;
  --M3_SELECTOR_SCALE: 0.1;

  --M3_SLIDE_WIDTH:   0;  /* dynamic setting */
  --M3_CONSOLE_WIDTH: 0;  /* dynamic setting */
  --M3_SLIDE_RANGE:   256;
  --M3_CONSOLE_UNI:   32;
  --M3_PAD_WIDTH:     10rem;
  --M3_CONSOLE_COLOR: hsl(var(--COLOR_THIRD_HUE), 50%, 75% );
  --M3_FE_MATRIX:
    0 0 R 0 0
    0 0 G 0 0
    0 0 B 0 0
    0 0 0 1 0;
  --M3_FE_MATRIX_RESET:
    1 0 0 0 0
    0 1 0 0 0
    0 0 1 0 0
    0 0 0 1 0;
  --M3_FE_MATRIX_GRAY_VALUE: 1.5;

  --M3_OVERLAY_SPLIT_INSET: 0px;
}

.ca_color_selector
{
  position: absolute;
  z-index: calc( var(--AREA_ACTIVE_Z) + 1 );
  top:   0;
  right: 0;
  cursor: pointer;
  opacity: var(--M3_SELECTOR_OPACITY);
  transform-origin: top right;
  transform: scale( var(--M3_SELECTOR_SCALE) );
  transition: all 1.5s ease;
}
.ca_color_selector:hover
{
  opacity: 1;
  transform: scale( 1 );
  transition: all 0.6s ease;
}
.ca_media_3_color_selector_mute
{
  transform-origin: top right;
  transform: scaleX(0);
  pointer-events: none;
  transition: all 0.4s ease;
}

.ca_media_3_color_picker
{
  cursor: var(--CURSOR_PICK);
}

#ca_media_3_selector_pad
{
  position: absolute;
  top:   0;
  right: 0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--COLOR_DEEP_DARK);
  border: 0.5rem solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 45%, 1);
  opacity: 1;
}

.ca_media_3_pad_label
{
  position: relative;
  width:  40px;
  height: 40px;
  margin: var(--PAD_3);
  padding: 0;
  color: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_MIN), 95%, 0.8 );
  border: 2px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 70%, 0.2 );
  font-family: var(--FONT_BUTTON);
  font-size: var(--FONT_SIZE_SMALL);
  font-weight: var(--FONT_WEIGHT_HEAVY);
  line-height: var(--FONT_LINE_MEDIUM);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
.ca_media_3_pad_label:hover
{
  color: hsla( var(--COLOR_HUE), 10%, 95%, 1 );
  border: 3px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 1 );
  transition: all 0.3s ease;
}
.ca_media_3_pad_label[value="1"]
{
  color: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 0.8 );
  border: 3px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 0.7 );
}

#ca_media_3_trace_label
{
  padding: var(--PAD_3) 0;
  font-family: var(--FONT_NUMBER);
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_HEAVY);
}
#ca_media_3_trace_label:hover
{
  border: 3px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 70%, 0.2 );
  cursor: crosshair;
}

.ca_color_selector_console
{
  position: absolute;
  top: 70px ;
  right: 0;
  opacity: 0;
  pointer-events: none;
}
.ca_color_selector_console_active
{
  cursor: crosshair;
  opacity: 1;
  pointer-events: auto;
}

#ca_media_3_selector_pad_input
{
  position: absolute;
  left: var(--AREA_OUTLEFT);
  opacity: 0;
}

.ca_overlay_split_front,
.ca_overlay_split_back
{
  position: absolute;
  top:  0;
  left: 0;
}

.ca_overlay_split_clipping
{
  clip-path: inset(0px var(--M3_OVERLAY_SPLIT_INSET) 0px 0px);
  cursor: col-resize;
}

#ca_media_3_processor /* take over .ca_media_processor */
{
  position: absolute;
  top: 0;
  background-color: white;
}

#ca_media_3_processor_canvas
{
  filter: url(#ca_media_3_filter);
}

.ca_media_3_processor_trace
{
  display: grid;
  grid-template-columns: [ca_media_3_processor_trace_H] 1ch [ca_media_3_processor_trace_H_v] 3ch
                         [ca_media_3_processor_trace_S] 1ch [ca_media_3_processor_trace_S_v] 3ch
                         [ca_media_3_processor_trace_L] 1ch [ca_media_3_processor_trace_L_v] 3ch
                         [ca_media_3_processor_trace_A] 1ch [ca_media_3_processor_trace_A_v] 3ch;
  grid-gap: 1ch;
  justify-content: left;
  align-items: end;
	position: absolute;
	right:  0;
  bottom: 0;
  width:  24ch;
  height: calc( 3ch + 1rem );
  padding: var(--PAD_2);
  background-color: transparent;
  color: var(--COLOR_SECOND_MAXLIGHT);
  border: 1px solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 1 );
  font-family: var(--FONT_NUMBER);
  font-size: var(--FONT_SIZE_LARGE);
  font-weight: var(--FONT_WEIGHT_HEAVY);
  pointer-events: none;
  opacity: 0;
}

.ca_color_trace_show.ca_media_3_processor_trace
{
  opacity: 0.7;
}

#ca_media_3_processor_trace_H,
#ca_media_3_processor_trace_S,
#ca_media_3_processor_trace_L,
#ca_media_3_processor_trace_A
{
  color: var(--COLOR_SECOND_MEDIUM_LIGHT);
}
#ca_media_3_processor_trace_H
{
  grid-column: ca_media_3_processor_trace_H;
}
#ca_media_3_processor_trace_S
{
  grid-column: ca_media_3_processor_trace_S;
}
#ca_media_3_processor_trace_L
{
  grid-column: ca_media_3_processor_trace_L;
}
#ca_media_3_processor_trace_A
{
  grid-column: ca_media_3_processor_trace_A;
}
#ca_media_3_processor_trace_H_v
{
  grid-column: ca_media_3_processor_trace_H_v;
}
#ca_media_3_processor_trace_S_v
{
  grid-column: ca_media_3_processor_trace_S_v;
}
#ca_media_3_processor_trace_L_v
{
  grid-column: ca_media_3_processor_trace_L_v;
}
#ca_media_3_processor_trace_A_v
{
  grid-column: ca_media_3_processor_trace_A_v;
}

