:root
{
  --M2_CONTROL_DIM: calc( 1rem + 162px );  /* 54px * 3 */
  --M2_CONTROL_SCALE: 0.4;
  --M2_CONTROL_OPACITY: 0.4;
  --M2_PROCESSOR_DIM: 75vmin;
}

.ca_media_2_control
{
  position: relative;
  z-index: calc( var(--AREA_ACTIVE_Z) + 1 );
  top:  0;
  left: calc( 100vw - var( --M2_CONTROL_DIM ) );
  width: var(--M2_CONTROL_DIM);
  border: 0.5rem solid hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 45%, 1);
  cursor: pointer;
  opacity: var(--M2_CONTROL_OPACITY);
  transform-origin: top right;
  transform: scale( var(--M2_CONTROL_SCALE) );
  transition: all 0.4s ease;
}
.ca_media_2_control:hover
{
  background-color: var(--COLOR_DEEP_DARK);
  opacity: 1;
  transform: scale( 1 );
  transition: all 0.4s ease;
}

#ca_media_2_control_pad
{
  display: grid;
  grid-template-columns: repeat( 3, minmax(52px, calc(var(--M1_CONTROL_DIM) * 0.3)));
  grid-gap: 3px;
}

#ca_media_2_processor_overlay
{
  position: relative;
  width: var(--M2_PROCESSOR_DIM);
}

#ca_media_2_processor_frame:not( [class="ca_media_2_processor_atmax"] )
{
  cursor: zoom-in;
}

.ca_media_2_processor_atmax
{
  cursor: zoom-out;
  transform-origin: center;
  transform: scale( 1.5 );
  transition: all .7s ease;
}

#ca_media_2_img
{
  position: relative;
  width: var(--M2_PROCESSOR_DIM);
}

#ca_media_2_processor_lines
{
  position: absolute;
  top:  0;
  left: 0;
}

#ca_media_2_lines_v,
#ca_media_2_lines_hz,
#ca_media_2_lines_lr,
#ca_media_2_lines_rl
{
  stroke: hsla( var(--COLOR_HUE), var(--COLOR_SATUR_DEEP), 95%, 0.5);
  stroke-width: 1rem;
  transition: opacity .7s ease;
}
