:root
{
  /* PADDINGS */
  --PADDING_UNIT: 0.25rem;

  --PAD_1: var(--PADDING_UNIT);
  --PAD_2: calc( var(--PADDING_UNIT) * 2 );
  --PAD_3: calc( var(--PADDING_UNIT) * 3 );
  --PAD_4: calc( var(--PADDING_UNIT) * 4 );
  --PAD_5: calc( var(--PADDING_UNIT) * 5 );
  --PAD_6: calc( var(--PADDING_UNIT) * 6 );
  --PAD_7: calc( var(--PADDING_UNIT) * 7 );
  --PAD_8: calc( var(--PADDING_UNIT) * 8 );


  /* ITEMS GRID */
  --CENTERED_GRID_GAP: 4px;
  --CENTERED_GRID_MARGIN: 4px;

  /* TEXT COLUMNS */
  --TXT_COLS_WIDTH: calc( var(--CONTENT_WIDTH) / (var(--TXT_COLS_CAPACITY) + 1) );
  --TXT_COLS: auto var(--TXT_COLS_WIDTH);
  --TXT_COLS_GAP: var(--GAP_1);
  --TXT_COLS_PADDING: 0 var(--PAD_8);

}