:root
{
  --CONTAINER_WIDTH: var(--VIEW_FULL_WIDTH);

  --GRID_WIDTH:     1000;
  --GRID_COL_WIDTH: 80;
  --GRID_COLUMNS:   9;
  --GRID_GAPS:      calc(var(--GRID_COLUMNS) - 1);
  
  --COL_PROPORTION: calc(var(--GRID_COL_WIDTH) / var(--GRID_WIDTH));    /* 80/1000 = 0.08 */
  --GAP_PROPORTION: calc( (1 - (var(--GRID_COLUMNS) * var(--COL_PROPORTION))) / var(--GRID_GAPS));    /* (1 - (9*0.08)) /  = 0.035 */

  --COL_UNIT:  calc(var(--COL_PROPORTION) * var(--CONTAINER_WIDTH)); /* 8 vw */
  --GAP_UNIT:  calc(var(--GAP_PROPORTION) * var(--CONTAINER_WIDTH)); /* 3.5 vw */
  --GRID_UNIT: calc(var(--COL_UNIT) + var(--GAP_UNIT));              /* 11.5 vw */

  --GRID_0: 0;
  --GRID_1:       var(--GRID_UNIT);
  --GRID_2: cacl( var(--GRID_UNIT) * 2 );
  --GRID_3: cacl( var(--GRID_UNIT) * 3 );
  --GRID_4: cacl( var(--GRID_UNIT) * 4 );
  --GRID_5: cacl( var(--GRID_UNIT) * 5 );
  --GRID_6: cacl( var(--GRID_UNIT) * 6 );
  --GRID_7: cacl( var(--GRID_UNIT) * 7 );
  --GRID_8: cacl( var(--GRID_UNIT) * 8 );

  --COL_0: 0;
  --COL_1:       var(--COL_UNIT);
  --COL_2: cacl( var(--COL_UNIT) * 2 );
  --COL_3: cacl( var(--COL_UNIT) * 3 );
  --COL_4: cacl( var(--COL_UNIT) * 4 );
  --COL_5: cacl( var(--COL_UNIT) * 5 );
  --COL_6: cacl( var(--COL_UNIT) * 6 );
  --COL_7: cacl( var(--COL_UNIT) * 7 );
  --COL_8: cacl( var(--COL_UNIT) * 8 );

  --GAP_0: 0;
  --GAP_1:       var(--GAP_UNIT);
  --GAP_2: cacl( var(--GAP_UNIT) * 2 );
  --GAP_3: cacl( var(--GAP_UNIT) * 3 );
  --GAP_4: cacl( var(--GAP_UNIT) * 4 );
  --GAP_5: cacl( var(--GAP_UNIT) * 5 );
  --GAP_6: cacl( var(--GAP_UNIT) * 6 );
  --GAP_7: cacl( var(--GAP_UNIT) * 7 );
  --GAP_8: cacl( var(--GAP_UNIT) * 8 );
}