:root
{
--CURSOR_MENU:     url( https://www.chercheurd.art/static/icons/menu-h.svg )        24 24, auto;
--CURSOR_PICK:     url( https://www.chercheurd.art/static/icons/sample.svg )        24 24, auto;
--CURSOR_PLAY:     url( https://www.chercheurd.art/static/icons/play.svg )          24 24, auto;
--CURSOR_PAUSE:    url( https://www.chercheurd.art/static/icons/pause.svg )         24 24, auto;
--CURSOR_EXT_LINK: url( https://www.chercheurd.art/static/icons/external-link.svg ) 24 24, auto;
}