:root
{
  /* FAMILIES */
  --FONT_TITLE:   'Philosopher', sans-serif;
  --FONT_BODY:    'Antic', sans-serif;
  --FONT_MONO:    'RenoMono', sans-serif;
  --FONT_LOGO:    'Josefin Slab', serif;
  --FONT_NUMBER:  var(--FONT_MONO);
  --FONT_BUTTON:  var(--FONT_MONO);
    /* SIZES */
  --FONT_SIZE_MEDIUM: calc(1rem + ((1vw - 0.4rem) * 0.7143));  /* Where: * 0.7143 = 100 * font_Size_Difference / viewport_Width_Difference */
  --FONT_SIZE_FACTOR: 1.5;
  --FONT_SIZE_XSMALL: calc(var(--FONT_SIZE_SMALL) / var(--FONT_SIZE_FACTOR));
  --FONT_SIZE_SMALL:  calc(var(--FONT_SIZE_MEDIUM) / var(--FONT_SIZE_FACTOR));
  --FONT_SIZE_MEDIUM_L:  calc(var(--FONT_SIZE_MEDIUM) * 0.95);
  --FONT_SIZE_MEDIUM_S:  calc(var(--FONT_SIZE_MEDIUM) * calc(var(--FONT_SIZE_FACTOR) / 2));
  --FONT_SIZE_LARGE:  calc(var(--FONT_SIZE_MEDIUM) * var(--FONT_SIZE_FACTOR));
  --FONT_SIZE_XLARGE: calc(var(--FONT_SIZE_LARGE) * var(--FONT_SIZE_FACTOR));
    /* WEIGHTS */
  --FONT_WEIGHT_FACTOR: 0.25;
  --FONT_WEIGHT_MEDIUM: 400;
  --FONT_WEIGHT_XLIGHT: calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 2);
  --FONT_WEIGHT_LIGHT:  calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 3);
  --FONT_WEIGHT_HEAVY:  calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 6);
  --FONT_WEIGHT_XHEAVY: calc(var(--FONT_WEIGHT_MEDIUM) * var(--FONT_WEIGHT_FACTOR) * 8);
    /* LINE HEIGHT */
  --FONT_LINE_FACTOR: 0.2;
  --FONT_LINE_MEDIUM: 1.1;
  --FONT_LINE_XLOW:  calc(var(--FONT_LINE_MEDIUM) - (var(--FONT_WEIGHT_FACTOR) * 2));
  --FONT_LINE_LOW:   calc(var(--FONT_LINE_MEDIUM) - (var(--FONT_WEIGHT_FACTOR) * 1));
  --FONT_LINE_HIGH:  calc(var(--FONT_LINE_MEDIUM) + (var(--FONT_WEIGHT_FACTOR) * 1));
  --FONT_LINE_XHIGH: calc(var(--FONT_LINE_MEDIUM) + (var(--FONT_WEIGHT_FACTOR) * 2));
}