.ca_txt
{
  line-height: var(--FONT_LINE_HIGH);
  /*color: inherit;*/
}

.ca_txt::first-letter
{
  margin: 0 var(--PAD_1) 0 0;
  font-size: var(--FONT_SIZE_LARGE);
  font-weight: var(--FONT_WEIGHT_XHEAVY);
  /*line-height: var(--FONT_LINE_HIGH);*/
  color: var(--COLOR_MEDIUM_DARK);
}

.ca_text_caution
{
  font-family: var(--FONT_BODY);
  font-size: var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_LINE_MEDIUM);
  text-transform: uppercase;
}

.ca_footnote
{
  font-family: var(--FONT_BODY);
  font-size: var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_LINE_MEDIUM);
  break-inside: avoid;
}

[aria-describedby='ca_footnote_label']
{
  counter-increment: footer;
  text-decoration: none;
  color: inherit;
  cursor: default;
  outline: none;
}

[aria-describedby='ca_footnote_label']::after
{
  content: '[' counter(footer) ']';
  vertical-align: super;
  font-size: 0.8em;
  margin-left: 0.15rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

[aria-describedby='ca_footnote_label']:focus::after
{
  outline: thin dotted;
  outline-offset: 0.15rem;
}

[aria-label='ca_back_to_text']
{
  font-size: 1em;
}

.visually-hidden
{
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

.ca_version_title
{
  margin: var(--PAD_4) 0 0 0;
  break-inside: avoid;
  font-weight: var(--FONT_WEIGHT_HEAVY);
}

.ca_version_list
{
  margin: 0;
}

.ca_version_list li
{
  padding: var(--PAD_2) var(--PAD_1);
  break-inside: avoid;
  font-family: var(--FONT_BODY);
  font-size: var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_LINE_MEDIUM);
  break-inside: avoid;
}

.ca_version_list li strong
{
  font-weight: var(--FONT_WEIGHT_HEAVY);
}

/*
.ca_version_entry
{
  break-inside: avoid;
}
*/
