.ca_list_items
{
  margin: 0;
  padding: var(--PAD_2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--COLOR_MAXLIGHT_TRANSPARENT);
}

.ca_list_items_img
{
  width:  100%;
  height: 100%; /* IMPORTANT */
  object-fit: cover;
  object-position: center center;
  background-image: var(--GRADIENT_DARK);
  cursor: pointer;
}

.ca_list_items:hover .ca_list_items_img:hover
{
  border: var(--BORDER_FRAME_GOLD);
}

.ca_wide_title,
.ca_list_items_img_title
{
  position: absolute;
  top:     0;
  left:    0;
  right:   0;
  bottom:  0;
  margin:  0;
  padding: 3vmin 4vmin 1vmin 4vmin;
  color:           var(--COLOR_THIRD_LIGHT);
  font-size:       calc(var(--FONT_SIZE_MEDIUM) * 1.2 );
  font-weight:     var(--FONT_WEIGHT_MEDIUM);
  line-height:     var(--FONT_LINE_MEDIUM);
  list-style-type: none;
  text-transform:  uppercase;
  overflow:        hidden;
}
.ca_wide_title
{
  font-size:   calc(var(--FONT_SIZE_MEDIUM) * 1.4 );
  font-weight: var(--FONT_WEIGHT_MEDIUM);
}

.ca_title_subtitle
{
  font-size:   var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
}

.ca_list_items_img_issmall
{
  position: relative;
  height: 100%;
  padding: 0;
  
}

.ca_flipcard_container
{
  position: relative;
  flex: 0 32%;
  height: 23vh;
  margin-bottom: 2%; /* (100-32*3)/2 */
  perspective: 100vw;
  background: var(--LIST_ITEMS_IMG_GRADIENT), var(--list_items_bg);
  background-size: cover;
  z-index: 1;
}

.ca_flipcard_container_reverse
{
  background: var(--LIST_ITEMS_IMG_GRADIENT), var(--list_items_bg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.ca_flipcard
{
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}
.ca_flipcard_container:hover .ca_flipcard
{
  transform: rotateY(180deg);
}

.ca_flipcard_front,
.ca_flipcard_back
{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.ca_flipcard_back
{
  transform: rotateY(180deg);
}
/*
.ca_list_items_img_islarge
{
  grid-row: span 2;
  grid-column: span 2;
}
*/

/* LEGEND */
.ca_list_items_legend
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding: 0;  /*padding: 1.5vmin 4vmin 1vmin 4vmin;*/
  display: flex;
  flex-direction: column;
  border-left: var(--BORDER_FRAME_GOLD_TEXT);
  background-image: var(--GRADIENT_DARK);
  color:            var(--COLOR_MAXLIGHT);
  font-size:   var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  line-height: var(--FONT_SIZE_LARGE);
  cursor: pointer;
  overflow: hidden;
}

.ca_list_items_legend_title,
.ca_list_items_legend_author,
.ca_list_items_legend_abstract
{
  margin: 0;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
}
.ca_list_items_legend_title,
.ca_list_items_legend_abstract
{
  padding: var(--PAD_3) var(--PAD_4) var(--PAD_2) var(--PAD_4);
}
.ca_list_items_legend_author
{
  padding: var(--PAD_8) var(--PAD_2) var(--PAD_2) var(--PAD_2);
}
.ca_list_items_legend_title
{
  background-image: var(--GRADIENT_DARK_INVERSE); /* background-image: var(--GRADIENT_SECOND_DEEP_DARK); */
  text-transform: uppercase;
  transform: translateX( 40vw );
  transition-delay: 0.15s;
}
.ca_list_items_legend_abstract
{
  transform: translateX( -40vw );
  transition-delay: 0.3s;
}
.ca_list_items_legend_author
{
  transform: translateY( 20vh );
  transition-delay: 0.4s;
}

.ca_flipcard_container:hover .ca_flipcard_back .ca_list_items_legend_title,
.ca_flipcard_container:hover .ca_flipcard_back .ca_list_items_legend_abstract
{
  transform: translateX( 0 );
}
.ca_flipcard_container:hover .ca_flipcard_back .ca_list_items_legend_author
{
  transform: translateY( 0 );
}

.ca_list_items_legend_abstract
{
  font-family: var(--FONT_BODY);
  font-size:   var(--FONT_SIZE_MEDIUM_L);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
}

.ca_post_header
{
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--PAD_4) 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;
  justify-items: start;
  background-image: var(--GRADIENT_TTTLE_MEDIUM);
}

.ca_banner_title_duo,
.ca_banner_subtitle_duo,
.ca_post_title,
.ca_post_subtitle,
.ca_post_signature
{
  align-self: end;
  margin: 0;
  overflow: hidden;
  color: var(--COLOR_MAXLIGHT);
  list-style-type: none;
  line-height: var(--FONT_LINE_MEDIUM);
}

.ca_banner_title_duo,
.ca_post_subtitle,
.ca_post_title
{
  padding: var(--PAD_8) var(--PAD_4) var(--PAD_4) var(--GRID_1);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  text-transform: uppercase;
}
.ca_banner_title_duo,
.ca_post_title
{
  font-size: var(--FONT_SIZE_XLARGE);
}

.ca_banner_subtitle_duo,
.ca_post_subtitle
{
  font-size: var(--FONT_SIZE_MEDIUM);
}

.ca_post_signature
{
  margin: var(--PAD_8) var(--PAD_4) var(--PAD_4) var(--PAD_4);
  font-size: var(--FONT_SIZE_MEDIUM);
  font-weight: var(--FONT_WEIGHT_MEDIUM);
  border-style: solid;
  border-image-source: var(--SUBTITLE_GRADIENT);
  border-image-slice: 1;
  border-image-width: 0.5px 0 1px 0;
}

.ca_duo_banner_header
{
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--PAD_4) 0;
  display: flex;
  /*
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;
  justify-items: start;
  */
  background-image: var(--GRADIENT_TTTLE_MEDIUM);
}

.ca_duo_banner_header > *
{
  flex: 0 49%;    /* 2 items per row */
}

.ca_banner_subtitle_duo
{

}