{% extends "base.njk" %}

{% block content %}

{# REMOVE ??? #}{% set @is_open   = 'ca_is_open' %}
{% set @id       = id %}
{% set @author   = author %}
{% set @date     = hdates[0] %}
{% set @dir      = itemDir %}
{% set @inimgDir = 'partials' %}
{% include "partials/blocks/_text_.njk" %}
{% if itemImg %}{% include "partials/blocks/_gallery_.njk" %}{% endif %}

{% endblock %}
