---js
{
  permalink: `static/styles/media.min.css`,
}
---
{% set css %}
  {% include "static/styles/media.css" %}
  {% include "static/styles/media_1.css" %}
  {% include "static/styles/media_2.css" %}
  {% include "static/styles/media_3.css" %}
  {% include "static/styles/media_4.css" %}
{% endset %}
{{ css | cssmin | safe }}